<a href="https://colab.research.google.com/github/PondKann/KKU_data_mining/blob/master/Data_Retail2_RFM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. นำเข้าข้อมูล และ Package ที่ต้องการ

In [1]:
import pandas as pd
import os 
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules
from google.colab import drive

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
path = '/content/drive/My Drive/DataViz_2021'
os.listdir(path)

['pm-18-jan-2021.csv',
 'covid-19-daily_data_dictionary.xlsx',
 'income.csv',
 'income2.xls',
 'จัดซื้อ 57-58.xls',
 'online_retail_II.xlsx',
 'online_retail_II.csv']

In [ ]:
income2_file_path = os.path.join(path,'income2.xls')
print(income2_file_path)
income3= pd.read_excel(income2_file_path,sheet_name=0,skiprows=3,header=0)
data_income = income3.iloc[2:-4]

In [19]:
data_path = os.path.join(path,'online_retail_II.xlsx')
print(data_path)

/content/drive/My Drive/DataViz_2021/online_retail_II.xlsx

In [114]:
df1= pd.read_excel(data_path,sheet_name=0,header=0)

In [22]:
df2= pd.read_excel(data_path,sheet_name=1,header=0)

In [115]:
df1

       Invoice StockCode  ... Customer ID         Country
0       489434     85048  ...     13085.0  United Kingdom
1       489434    79323P  ...     13085.0  United Kingdom
2       489434    79323W  ...     13085.0  United Kingdom
3       489434     22041  ...     13085.0  United Kingdom
4       489434     21232  ...     13085.0  United Kingdom
...        ...       ...  ...         ...             ...
525456  538171     22271  ...     17530.0  United Kingdom
525457  538171     22750  ...     17530.0  United Kingdom
525458  538171     22751  ...     17530.0  United Kingdom
525459  538171     20970  ...     17530.0  United Kingdom
525460  538171     21931  ...     17530.0  United Kingdom

[525461 rows x 8 columns]

In [116]:
df1[df1['InvoiceDate']=='1/4/2010  9:24:00 AM']

      Invoice StockCode  ... Customer ID         Country
45228  493410   TEST001  ...     12346.0  United Kingdom

[1 rows x 8 columns]

In [ ]:
df1[df1['InvoiceDate']=='12/9/2010  8:01:00 PM']

ตัดปี2010 ของชีทแรกออก

In [ ]:
df1 = df1.iloc[45228:,:525460]

In [118]:
df1.shape

(480233, 8)

In [42]:
df2.head()

  Invoice StockCode  ... Customer ID         Country
0  536365    85123A  ...     17850.0  United Kingdom
1  536365     71053  ...     17850.0  United Kingdom
2  536365    84406B  ...     17850.0  United Kingdom
3  536365    84029G  ...     17850.0  United Kingdom
4  536365    84029E  ...     17850.0  United Kingdom

[5 rows x 8 columns]

In [ ]:
df1.info()

In [119]:
print(f'ขนาดของ df1 คือ {df1.shape} ')
print(f'ขนาดของ df2 คือ {df2.shape} ')

ขนาดของ df1 คือ (480233, 8)
ขนาดของ df2 คือ (541910, 8)

In [120]:
dataAll = pd.concat([df1,df2])
dataAll

        Invoice StockCode  ... Customer ID         Country
45228    493410   TEST001  ...     12346.0  United Kingdom
45229   C493411     21539  ...     14590.0  United Kingdom
45230    493412   TEST001  ...     12346.0  United Kingdom
45231    493413     21724  ...         NaN  United Kingdom
45232    493413     84578  ...         NaN  United Kingdom
...         ...       ...  ...         ...             ...
541905   581587     22899  ...     12680.0          France
541906   581587     23254  ...     12680.0          France
541907   581587     23255  ...     12680.0          France
541908   581587     22138  ...     12680.0          France
541909   581587      POST  ...     12680.0          France

[1022143 rows x 8 columns]

ตัดข้อมูลที่เป็น POST ออกจากตารางใหญ่

In [121]:
dataAll_noPOST = dataAll[dataAll['StockCode']!='POST']
dataAll_noPOST.shape

(1020074, 8)

In [122]:
dataAll[dataAll['StockCode']=='POST'].shape[0]

2069

In [123]:
print(f'ขนาดของ All คือ {dataAll.shape[0]} ')
print(f'ขนาดของ ลบ post คือ {dataAll_noPOST.shape[0]} ')
print(f'ขนาดที่หายไป คือ {(dataAll.shape[0] )-  (dataAll_noPOST.shape[0]) } ')

ขนาดของ All คือ 1022143
ขนาดของ ลบ post คือ 1020074
ขนาดที่หายไป คือ 2069

ตัดข้อมูลที่ถูกยกเลิกออก ให้อยู่ในตาราง dataAll_noC

In [ ]:
dataAll_noPOST['Description'] = dataAll_noPOST['Description'].str.strip()      
dataAll_noPOST.dropna(axis=0, subset=['Invoice'], inplace=True)
dataAll_noPOST['Invoice'] = dataAll_noPOST['Invoice'].astype('str')             
dataAll_noC = dataAll_noPOST[~dataAll_noPOST['Invoice'].str.contains('C')]

In [125]:
print(f'ขนาดของ ลบ post คือ {dataAll_noPOST.shape[0]} ')
print(f'ขนาดของ ลบ cancel คือ {dataAll_noC.shape[0]} ')
print(f'ขนาดที่หายไป คือ {(dataAll_noPOST.shape[0] ) -   (dataAll_noC.shape[0]) } ')

ขนาดของ ลบ post คือ 1020074
ขนาดของ ลบ cancel คือ 1001813
ขนาดที่หายไป คือ 18261

In [126]:
dataAll_noC

       Invoice StockCode  ... Customer ID         Country
45228   493410   TEST001  ...     12346.0  United Kingdom
45230   493412   TEST001  ...     12346.0  United Kingdom
45231   493413     21724  ...         NaN  United Kingdom
45232   493413     84578  ...         NaN  United Kingdom
45233   493413     21723  ...         NaN  United Kingdom
...        ...       ...  ...         ...             ...
541904  581587     22613  ...     12680.0          France
541905  581587     22899  ...     12680.0          France
541906  581587     23254  ...     12680.0          France
541907  581587     23255  ...     12680.0          France
541908  581587     22138  ...     12680.0          France

[1001813 rows x 8 columns]

In [127]:
dataAll_noC.columns

Index(['Invoice', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'Price', 'Customer ID', 'Country'],
      dtype='object')

In [128]:
dataAll_noC.shape

(1001813, 8)

In [129]:
dataAll_noC.to_csv('dataAll.csv')