<a href="https://colab.research.google.com/github/PondKann/KKU_data_mining/blob/master/Data_Retail2_Association.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Association All Country

In [1]:
import pandas as pd
import os 
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules
from google.colab import drive

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
path = '/content/drive/My Drive/DataViz_2021'
os.listdir(path)

['pm-18-jan-2021.csv',
 'covid-19-daily_data_dictionary.xlsx',
 'income.csv',
 'income2.xls',
 'จัดซื้อ 57-58.xls',
 'online_retail_II.xlsx',
 'online_retail_II.csv']

1. นำเข้าข้อมูล และ Package ที่ต้องการ

In [4]:
data_path = os.path.join(path,'online_retail_II.csv')
datacsv = pd.read_csv(os.path.join(path,'online_retail_II.csv'),encoding='utf-8')
df = datacsv

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541910 entries, 0 to 541909
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Invoice      541910 non-null  object
 1   StockCode    541910 non-null  object
 2   Description  540456 non-null  object
 3   Quantity     541910 non-null  int64
 4   InvoiceDate  541910 non-null  object
 5   Price        541910 non-null  float64
 6   Customer ID  406830 non-null  float64
 7   Country      541910 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

In [8]:
df

       Invoice StockCode  ... Customer ID         Country
0       536365    85123A  ...     17850.0  United Kingdom
1       536365     71053  ...     17850.0  United Kingdom
2       536365    84406B  ...     17850.0  United Kingdom
3       536365    84029G  ...     17850.0  United Kingdom
4       536365    84029E  ...     17850.0  United Kingdom
...        ...       ...  ...         ...             ...
541905  581587     22899  ...     12680.0          France
541906  581587     23254  ...     12680.0          France
541907  581587     23255  ...     12680.0          France
541908  581587     22138  ...     12680.0          France
541909  581587      POST  ...     12680.0          France

[541910 rows x 8 columns]

2. ทำความสะอาดข้อมูล โดยการลบรายการที่ถูกยกเลิกออก

In [9]:
df['Description'] = df['Description'].str.strip()
df.dropna(axis=0, subset=['Invoice'], inplace=True)
df['Invoice'] = df['Invoice'].astype('str')
df = df[~df['Invoice'].str.contains('C')]

3. Group by ข้อมูล Invoice และ Description โดยให้แสดงจำนวนสินค้าที่ถูกสั่งในแต่ละรายการ (Invoice) ถ้าไม่ได้สั่งสินค้านั้นก็ให้ใส่เลขศูนย์

In [10]:
basket0 = (df.groupby(['Invoice', 'Description'])['Quantity']
          .sum().unstack().reset_index().fillna(0)
          .set_index('Invoice'))

4. แปลงค่าข้อมูลในตาราง basket0 ถ้าค่าข้อมูลเป็น <= 0 ให้เปลี่ยนเป็นเลข 0 แต่ถ้าค่าข้อมูลเป็น >= 1 ให้เปลี่ยนเป็นเลข 1 และลบ รหัสไปรษณีย์ (POSTAGE)

In [7]:
def encode_units(x):
    if x <= 0:
        return 0
    if x >= 1:
        return 1

5. กฎความสัมพันธ์ โดยกำหนด confidence >= 0.8

In [12]:
basket0_sets = basket0.applymap(encode_units)
basket0_sets.drop('POSTAGE', inplace=True, axis=1)
frequent_itemsets0 = apriori(basket0_sets, min_support=0.018, use_colnames=True)
rules0 = association_rules(frequent_itemsets0, metric="lift", min_threshold=1)

AssoAll = rules0[ (rules0['lift'] >= 4)& (rules0['confidence'] >= 0.8)]

In [13]:
AssoAll

                                           antecedents  ... conviction
35                    (PINK REGENCY TEACUP AND SAUCER)  ...   5.475760
209  (GREEN REGENCY TEACUP AND SAUCER, PINK REGENCY...  ...   6.596260
210  (ROSES REGENCY TEACUP AND SAUCER, PINK REGENCY...  ...   9.991237
214  (GREEN REGENCY TEACUP AND SAUCER, REGENCY CAKE...  ...   4.778943
220  (JUMBO BAG PINK POLKADOT, JUMBO SHOPPER VINTAG...  ...   4.672179
226  (JUMBO BAG PINK POLKADOT, JUMBO STORAGE BAG SUKI)  ...   4.536523

[6 rows x 9 columns]

# Association Some Country

In [26]:
df.head()

  Invoice StockCode  ... Customer ID         Country
0  536365    85123A  ...     17850.0  United Kingdom
1  536365     71053  ...     17850.0  United Kingdom
2  536365    84406B  ...     17850.0  United Kingdom
3  536365    84029G  ...     17850.0  United Kingdom
4  536365    84029E  ...     17850.0  United Kingdom

[5 rows x 8 columns]

In [32]:
dft = df.iloc[:5,:]
dft

  Invoice StockCode  ... Customer ID         Country
0  536365    85123A  ...     17850.0  United Kingdom
1  536365     71053  ...     17850.0  United Kingdom
2  536365    84406B  ...     17850.0  United Kingdom
3  536365    84029G  ...     17850.0  United Kingdom
4  536365    84029E  ...     17850.0  United Kingdom

[5 rows x 8 columns]

In [33]:
df['Sales'] = df['Quantity'] * df['Price']
df_new = df
df_new

       Invoice StockCode  ...         Country  Sales
0       536365    85123A  ...  United Kingdom  15.30
1       536365     71053  ...  United Kingdom  20.34
2       536365    84406B  ...  United Kingdom  22.00
3       536365    84029G  ...  United Kingdom  20.34
4       536365    84029E  ...  United Kingdom  20.34
...        ...       ...  ...             ...    ...
541905  581587     22899  ...          France  12.60
541906  581587     23254  ...          France  16.60
541907  581587     23255  ...          France  16.60
541908  581587     22138  ...          France  14.85
541909  581587      POST  ...          France  18.00

[541910 rows x 9 columns]

In [34]:
df_country = df_new.groupby('Country').sum().sort_values('Sales', ascending=False)
df_country

                      Quantity         Price   Customer ID         Sales
Country
United Kingdom         4263829  2.245715e+06  5.626433e+09  8.187806e+06
Netherlands             200128  6.492550e+03  3.419054e+07  2.846615e+05
EIRE                    142637  4.844719e+04  1.103917e+08  2.632768e+05
Germany                 117448  3.766600e+04  1.200751e+08  2.216982e+05
France                  110481  4.304999e+04  1.076615e+08  1.974219e+05
Australia                83653  4.054750e+03  1.569300e+07  1.370773e+05
Switzerland              30325  6.813690e+03  2.377592e+07  5.638535e+04
Spain                    26824  1.263345e+04  3.268929e+07  5.477458e+04
Belgium                  23152  7.540130e+03  2.571829e+07  4.091096e+04
Sweden                   35637  1.806830e+03  6.790083e+06  3.659591e+04
Japan                    25218  8.148600e+02  4.567292e+06  3.534062e+04
Norway                   19247  6.529060e+03  1.350765e+07  3.516346e+04
Portugal                 16180  1.303754e+04  1.886480e+07  2.936702e+04
Finland                  10666  3.786850e+03  8.699324e+06  2.232674e+04
Channel Islands           9479  3.738550e+03  1.128522e+07  2.008629e+04
Denmark                   8188  1.266950e+03  4.876734e+06  1.876814e+04
Italy                     7999  3.879390e+03  1.015666e+07  1.689051e+04
Cyprus                    6317  3.920070e+03  7.715880e+06  1.294629e+04
Austria                   4827  1.701520e+03  5.021102e+06  1.015432e+04
Hong Kong                 4769  1.224150e+04  0.000000e+00  1.011704e+04
Singapore                 5234  2.510889e+04  2.918376e+06  9.120390e+03
Israel                    4353  1.079040e+03  3.164467e+06  7.907820e+03
Poland                    3653  1.422270e+03  4.341972e+06  7.213140e+03
Unspecified               3300  1.204010e+03  3.348046e+06  4.749790e+03
Greece                    1556  7.132900e+02  2.008584e+06  4.710520e+03
Iceland                   2458  4.812100e+02  2.247154e+06  4.310000e+03
Canada                    2763  9.105800e+02  2.615483e+06  3.666380e+03
Malta                      944  6.660100e+02  2.158496e+06  2.505470e+03
United Arab Emirates       982  2.298900e+02  1.018952e+06  1.902280e+03
USA                       1034  6.449800e+02  3.672086e+06  1.730920e+03
Lebanon                    386  2.424400e+02  5.743800e+05  1.693880e+03
Lithuania                  652  9.944000e+01  5.366200e+05  1.661060e+03
European Community         497  2.940500e+02  9.215880e+05  1.291750e+03
Brazil                     356  1.426000e+02  4.086080e+05  1.143600e+03
RSA                        352  2.481000e+02  7.218680e+05  1.002310e+03
Czech Republic             592  8.815000e+01  3.834300e+05  7.077200e+02
Bahrain                    260  8.657000e+01  2.100270e+05  5.484000e+02
Saudi Arabia                75  2.411000e+01  1.256500e+05  1.311700e+02

In [35]:
df_country.to_csv('df_country.csv')

## United Kingdom

In [30]:
basket1 = (df[df['Country'] =="United Kingdom"]
          .groupby(['Invoice', 'Description'])['Quantity']
          .sum().unstack().reset_index().fillna(0)
          .set_index('Invoice'))

basket_sets1 = basket1.applymap(encode_units)
basket_sets1.drop('POSTAGE', inplace=True, axis=1)
frequent_itemsets1 = apriori(basket_sets1, min_support=0.025, use_colnames=True)
rules1 = association_rules(frequent_itemsets1, metric="lift", min_threshold=1)

asso_UK =  rules1[ (rules1['lift'] >= 4) &
        (rules1['confidence'] >= 0.7)]

In [31]:
asso_UK

                          antecedents  ... conviction
2    (PINK REGENCY TEACUP AND SAUCER)  ...   5.342926
4  (ROSES REGENCY TEACUP AND SAUCER )  ...   3.579862
5   (GREEN REGENCY TEACUP AND SAUCER)  ...   3.834527

[3 rows x 9 columns]

In [39]:
asso_UK.to_csv('asso_UK.csv')

## Netherlands

In [24]:
basket2 = (df[df['Country'] =="Netherlands"]
          .groupby(['Invoice', 'Description'])['Quantity']
          .sum().unstack().reset_index().fillna(0)
          .set_index('Invoice'))

basket_sets2 = basket2.applymap(encode_units)
basket_sets2.drop('POSTAGE', inplace=True, axis=1)
frequent_itemsets2 = apriori(basket_sets2, min_support=0.08, use_colnames=True)
rules2 = association_rules(frequent_itemsets2, metric="lift", min_threshold=1)

asso_NTL = rules2[ (rules2['lift'] >= 5) &
        (rules2['confidence'] >= 0.9)]

In [25]:
asso_NTL

                                           antecedents  ... conviction
209  (DOLLY GIRL LUNCH BOX, RED RETROSPOT CHARLOTTE...  ...        inf
211  (SPACEBOY LUNCH BOX , RED RETROSPOT CHARLOTTE ...  ...        inf
222  (DOLLY GIRL LUNCH BOX, ROUND SNACK BOXES SET O...  ...   9.039604

[3 rows x 9 columns]

In [26]:
asso_NTL.to_csv('asso_NTL.csv')

## Germany

In [16]:
basket2 = (df[df['Country'] =="Germany"]
          .groupby(['Invoice', 'Description'])['Quantity']
          .sum().unstack().reset_index().fillna(0)
          .set_index('Invoice'))

basket_sets2 = basket2.applymap(encode_units)
basket_sets2.drop('POSTAGE', inplace=True, axis=1)
frequent_itemsets2 = apriori(basket_sets2, min_support=0.05, use_colnames=True)
rules2 = association_rules(frequent_itemsets2, metric="lift", min_threshold=1)

rules2[ (rules2['lift'] >= 4) &
        (rules2['confidence'] >= 0.5)]

                        antecedents  ... conviction
1   (PLASTERS IN TIN CIRCUS PARADE)  ...   2.076984
7        (PLASTERS IN TIN SPACEBOY)  ...   2.011670
11    (RED RETROSPOT CHARLOTTE BAG)  ...   5.587746

[3 rows x 9 columns]