<a href="https://colab.research.google.com/github/PondKann/KKU_data_mining/blob/master/Data_Online.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Import Function

In [21]:
import pandas as pd
import os 
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules
from google.colab import drive

In [22]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [23]:
path = '/content/drive/My Drive/DataViz_2021'
os.listdir(path)

['pm-18-jan-2021.csv',
 'covid-19-daily_data_dictionary.xlsx',
 'income.csv',
 'income2.xls',
 'จัดซื้อ 57-58.xls',
 'online_retail_II.xlsx',
 'online_retail_II.csv']

1. นำเข้าข้อมูล และ Package ที่ต้องการ

In [24]:
data_path = os.path.join(path,'online_retail_II.csv')
datacsv = pd.read_csv(os.path.join(path,'online_retail_II.csv'),encoding='utf-8')
df = datacsv

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541910 entries, 0 to 541909
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Invoice      541910 non-null  object
 1   StockCode    541910 non-null  object
 2   Description  540456 non-null  object
 3   Quantity     541910 non-null  int64
 4   InvoiceDate  541910 non-null  object
 5   Price        541910 non-null  float64
 6   Customer ID  406830 non-null  float64
 7   Country      541910 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

In [26]:
df

       Invoice StockCode  ... Customer ID         Country
0       536365    85123A  ...     17850.0  United Kingdom
1       536365     71053  ...     17850.0  United Kingdom
2       536365    84406B  ...     17850.0  United Kingdom
3       536365    84029G  ...     17850.0  United Kingdom
4       536365    84029E  ...     17850.0  United Kingdom
...        ...       ...  ...         ...             ...
541905  581587     22899  ...     12680.0          France
541906  581587     23254  ...     12680.0          France
541907  581587     23255  ...     12680.0          France
541908  581587     22138  ...     12680.0          France
541909  581587      POST  ...     12680.0          France

[541910 rows x 8 columns]

2. ทำความสะอาดข้อมูล โดยการลบรายการที่ถูกยกเลิกออก

In [27]:
df['Description'] = df['Description'].str.strip()
df.dropna(axis=0, subset=['Invoice'], inplace=True)
df['Invoice'] = df['Invoice'].astype('str')
df = df[~df['Invoice'].str.contains('C')]

3. Group by ข้อมูล Invoice และ Description โดยให้แสดงจำนวนสินค้าที่ถูกสั่งในแต่ละรายการ (Invoice) ถ้าไม่ได้สั่งสินค้านั้นก็ให้ใส่เลขศูนย์

In [28]:
basket0 = (df.groupby(['Invoice', 'Description'])['Quantity']
          .sum().unstack().reset_index().fillna(0)
          .set_index('Invoice'))

4. แปลงค่าข้อมูลในตาราง basket0 ถ้าค่าข้อมูลเป็น <= 0 ให้เปลี่ยนเป็นเลข 0 แต่ถ้าค่าข้อมูลเป็น >= 1 ให้เปลี่ยนเป็นเลข 1 และลบ รหัสไปรษณีย์ (POSTAGE)

In [29]:
def encode_units(x):
    if x <= 0:
        return 0
    if x >= 1:
        return 1

basket0_sets = basket0.applymap(encode_units)
basket0_sets.drop('POSTAGE', inplace=True, axis=1)

5. กฎความสัมพันธ์ โดยกำหนด confidence >= 0.8

In [32]:
frequent_itemsets0 = apriori(basket0_sets, min_support=0.018, use_colnames=True)
rules0 = association_rules(frequent_itemsets0, metric="lift", min_threshold=1)

AssoAll = rules0[ (rules0['lift'] >= 4)& (rules0['confidence'] >= 0.8)]

In [33]:
AssoAll

                                           antecedents  ... conviction
35                    (PINK REGENCY TEACUP AND SAUCER)  ...   5.475760
209  (GREEN REGENCY TEACUP AND SAUCER, PINK REGENCY...  ...   6.596260
210  (PINK REGENCY TEACUP AND SAUCER, ROSES REGENCY...  ...   9.991237
215  (GREEN REGENCY TEACUP AND SAUCER, REGENCY CAKE...  ...   4.778943
221  (JUMBO SHOPPER VINTAGE RED PAISLEY, JUMBO BAG ...  ...   4.672179
227  (JUMBO STORAGE BAG SUKI, JUMBO BAG PINK POLKADOT)  ...   4.536523

[6 rows x 9 columns]

# Data1

In [31]:
data1 = pd.read_excel(data_path,sheet_name='Year 2009-2010')

XLRDError: ignored

In [ ]:
data1.head()

In [ ]:
data1.count()

## Clean Data

In [ ]:
df1 = data1.dropna()

In [ ]:
df1.dropna().count()

In [ ]:
size_before_drop = 525461
size_after_drop = 417534
print(f'size before drop = {size_before_drop} \nsize after drop = {size_after_drop}\nwhich is {100*((size_before_drop-size_after_drop)/size_before_drop)}')

In [ ]:
df1.head( )

In [ ]:
df11 = df1[['Invoice','StockCode']]
df11

In [ ]:
df1

In [ ]:
type({df1})

In [ ]:
table1 = df1.groupby('Invoice')['StockCode'].apply(list)
table1

In [ ]:
table1 = str('Invoice')
table1

In [ ]:
!pip install apyori
from apyori import apriori

In [ ]:
list(apriori(table1, min_support = 0.02 , min_confidence = 0.01 ))

# Data2

In [ ]:
data2 = pd.read_excel(data_path,sheet_name='Year 2010-2011')

In [ ]:
data2.head()

In [ ]:
data2.count()

In [ ]:
data2.dropna().count()

In [ ]:
size_before_drop = 541910
size_after_drop = 406830
print(f'size before drop = {size_before_drop} \nsize after drop = {size_after_drop}\nwhich is {100*((size_before_drop-size_after_drop)/size_before_drop)}')

In [ ]:
data1.head()

In [ ]:
data2.head()

In [ ]:
all_table = pd.concat([data1,data2])
all_table.head()

In [ ]:
!pip install apyori
from apyori import apriori

In [ ]:
table = all_table.groupby('Invoice')['StockCode'].apply(list)
table

In [ ]:
list(apriori(table, min_support = 0.1 , min_confidence = 0.8 ))