<a href="https://colab.research.google.com/github/PondKann/KKU_data_mining/blob/master/TPro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive 
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
path = '/content/drive/My Drive/DataMining_Project'

In [50]:
import os
import pandas
zoo_type = os.path.join(path,'zoo.csv')  #สร้างที่อยู่โดยใช้ os.path.join
class_type = os.path.join(path,'class.csv')
zoo_type_df = pandas.read_csv(zoo_type)
zoo_type_df.head()

  animal_name  hair  feathers  eggs  ...  tail  domestic  catsize  class_type
0    aardvark     1         0     0  ...     0         0        1           1
1    antelope     1         0     0  ...     1         0        1           1
2        bass     0         0     1  ...     1         0        0           4
3        bear     1         0     0  ...     0         0        1           1
4        boar     1         0     0  ...     1         0        1           1

[5 rows x 18 columns]

In [35]:
del zoo_type_df['class_type']

In [85]:
zoo_type_df

    animal_name  hair  feathers  eggs  ...   legs  tail domestic  catsize
0      aardvark  hair                  ...  4legs                 catsize
1      antelope  hair                  ...  4legs  tail           catsize
2          bass                  eggs  ...         tail
3          bear  hair                  ...  4legs                 catsize
4          boar  hair                  ...  4legs  tail           catsize
..          ...   ...       ...   ...  ...    ...   ...      ...      ...
96      wallaby  hair                  ...  2legs  tail           catsize
97         wasp  hair            eggs  ...  6legs
98         wolf  hair                  ...  4legs  tail           catsize
99         worm                  eggs  ...
100        wren        feathers  eggs  ...  2legs  tail

[101 rows x 17 columns]

In [51]:
zoo_type_df['hair'].replace([1, 0] , ["hair", " "], inplace = True)
zoo_type_df['feathers'].replace([1, 0] , ["feathers", " "], inplace = True)
zoo_type_df['feathers'].replace([1, 0] , ["feathers", " "], inplace = True)
zoo_type_df['eggs'].replace([1, 0] , ["eggs", " "], inplace = True)
zoo_type_df['milk'].replace([1, 0] , ["milk", " "], inplace = True)
zoo_type_df['airborne'].replace([1, 0] , ["airborne", " "], inplace = True)
zoo_type_df['aquatic'].replace([1, 0] , ["aquatic", " "], inplace = True)
zoo_type_df['predator'].replace([1, 0] , ["predator", " "], inplace = True)
zoo_type_df['toothed'].replace([1, 0] , ["toothed", " "], inplace = True)
zoo_type_df['backbone'].replace([1, 0] , ["backbone", " "], inplace = True)
zoo_type_df['breathes'].replace([1, 0] , ["breathes", " "], inplace = True)
zoo_type_df['venomous'].replace([1, 0] , ["venomous", " "], inplace = True)
zoo_type_df['fins'].replace([1, 0] , ["fins", " "], inplace = True)
zoo_type_df['tail'].replace([1, 0] , ["tail", " "], inplace = True)
zoo_type_df['domestic'].replace([1, 0] , ["domestic", " "], inplace = True)
zoo_type_df['catsize'].replace([1, 0] , ["catsize", " "], inplace = True)
zoo_type_df['legs'].replace([0, 2, 4, 6] , [" ", "2legs", "4legs", "6legs"], inplace = True)

In [53]:
del zoo_type_df['class_type']

In [55]:
zoo_type_df

    animal_name  hair  feathers  eggs  ...   legs  tail domestic  catsize
0      aardvark  hair                  ...  4legs                 catsize
1      antelope  hair                  ...  4legs  tail           catsize
2          bass                  eggs  ...         tail
3          bear  hair                  ...  4legs                 catsize
4          boar  hair                  ...  4legs  tail           catsize
..          ...   ...       ...   ...  ...    ...   ...      ...      ...
96      wallaby  hair                  ...  2legs  tail           catsize
97         wasp  hair            eggs  ...  6legs
98         wolf  hair                  ...  4legs  tail           catsize
99         worm                  eggs  ...
100        wren        feathers  eggs  ...  2legs  tail

[101 rows x 17 columns]

In [29]:
conf = apriori(zoo_type_df, min_support=0.03, use_colnames=True)
conf

In [33]:
freq_items = apriori(zoo_type_df, min_support=0.2 )
freq_items

In [94]:
transecs = zoo_type_df.groupby('animal_name')['hair','feathers','eggs',	'milk',	'airborne',	'aquatic'].apply(list)
transecs.

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

animal_name
aardvark    [hair, feathers, eggs, milk, airborne, aquatic]
antelope    [hair, feathers, eggs, milk, airborne, aquatic]
bass        [hair, feathers, eggs, milk, airborne, aquatic]
bear        [hair, feathers, eggs, milk, airborne, aquatic]
boar        [hair, feathers, eggs, milk, airborne, aquatic]
                                 ...
wallaby     [hair, feathers, eggs, milk, airborne, aquatic]
wasp        [hair, feathers, eggs, milk, airborne, aquatic]
wolf        [hair, feathers, eggs, milk, airborne, aquatic]
worm        [hair, feathers, eggs, milk, airborne, aquatic]
wren        [hair, feathers, eggs, milk, airborne, aquatic]
Length: 100, dtype: object