<a href="https://colab.research.google.com/github/PondKann/KKU_data_mining/blob/master/TPro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive 
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
path = '/content/drive/My Drive/DataMining_Project'

In [72]:
import os
import pandas
zoo_type = os.path.join(path,'zoo.csv')  #สร้างที่อยู่โดยใช้ os.path.join
class_type = os.path.join(path,'class.csv')
zoo_type_df = pandas.read_csv(zoo_type)
zoo_type_df.head()

  animal_name  hair  feathers  eggs  ...  tail  domestic  catsize  class_type
0    aardvark     1         0     0  ...     0         0        1           1
1    antelope     1         0     0  ...     1         0        1           1
2        bass     0         0     1  ...     1         0        0           4
3        bear     1         0     0  ...     0         0        1           1
4        boar     1         0     0  ...     1         0        1           1

[5 rows x 18 columns]

In [106]:
zoo_type_df['animal_name']

0      aardvark
1      antelope
2          bass
3          bear
4          boar
         ...
96      wallaby
97         wasp
98         wolf
99         worm
100        wren
Name: animal_name, Length: 101, dtype: object

In [101]:
zoo_type_df

    animal_name  hair  feathers  eggs  ...  tail domestic  catsize    class_type
0      aardvark  hair                  ...                 catsize        Mammal
1      antelope  hair                  ...  tail           catsize        Mammal
2          bass                  eggs  ...  tail                            Fish
3          bear  hair                  ...                 catsize        Mammal
4          boar  hair                  ...  tail           catsize        Mammal
..          ...   ...       ...   ...  ...   ...      ...      ...           ...
96      wallaby  hair                  ...  tail           catsize        Mammal
97         wasp  hair            eggs  ...                                   Bug
98         wolf  hair                  ...  tail           catsize        Mammal
99         worm                  eggs  ...                          Invertebrate
100        wren        feathers  eggs  ...  tail                            Bird

[101 rows x 18 columns]

In [75]:
zoo_type_df['hair'].replace([1, 0] , ["hair"," "], inplace = True)
zoo_type_df['feathers'].replace([1, 0] , ["feathers", " "], inplace = True)
zoo_type_df['feathers'].replace([1, 0] , ["feathers", " "], inplace = True)
zoo_type_df['eggs'].replace([1, 0] , ["eggs"," "], inplace = True)
zoo_type_df['milk'].replace([1, 0] , ["milk", " "], inplace = True)
zoo_type_df['airborne'].replace([1, 0] , ["airborne", " "], inplace = True)
zoo_type_df['aquatic'].replace([1, 0] , ["aquatic", " "], inplace = True)
zoo_type_df['predator'].replace([1, 0] , ["predator", " "], inplace = True)
zoo_type_df['toothed'].replace([1, 0] , ["toothed", " "], inplace = True)
zoo_type_df['backbone'].replace([1, 0] , ["backbone", " "], inplace = True)
zoo_type_df['breathes'].replace([1, 0] , ["breathes", " "], inplace = True)
zoo_type_df['venomous'].replace([1, 0] , ["venomous", " "], inplace = True)
zoo_type_df['fins'].replace([1, 0] , ["fins", " "], inplace = True)
zoo_type_df['tail'].replace([1, 0] , ["tail", " "], inplace = True)
zoo_type_df['domestic'].replace([1, 0] , ["domestic", " "], inplace = True)
zoo_type_df['catsize'].replace([1, 0] , ["catsize", " "], inplace = True)
zoo_type_df['legs'].replace([0, 2, 4, 6] , [" ", "2legs", "4legs", "6legs"], inplace = True)

In [84]:
zoo_type_df['class_type'].replace([1, 2, 3, 4, 5, 6, 7] , ["Mammal", "Bird", "Reptile", "Fish", "Amphibian", "Bug", "Invertebrate"], inplace = True)6

In [85]:
zoo_type_df

    animal_name  hair  feathers  eggs  ...  tail domestic  catsize    class_type
0      aardvark  hair                  ...                 catsize        Mammal
1      antelope  hair                  ...  tail           catsize        Mammal
2          bass                  eggs  ...  tail                            Fish
3          bear  hair                  ...                 catsize        Mammal
4          boar  hair                  ...  tail           catsize        Mammal
..          ...   ...       ...   ...  ...   ...      ...      ...           ...
96      wallaby  hair                  ...  tail           catsize        Mammal
97         wasp  hair            eggs  ...                                   Bug
98         wolf  hair                  ...  tail           catsize        Mammal
99         worm                  eggs  ...                          Invertebrate
100        wren        feathers  eggs  ...  tail                            Bird

[101 rows x 18 columns]

In [57]:
#del zoo_type_df['class_type']

In [58]:
zoo_type_df

    animal_name  hair  feathers  eggs  ...   legs  tail domestic  catsize
0      aardvark  hair                  ...  4legs                 catsize
1      antelope  hair                  ...  4legs  tail           catsize
2          bass                  eggs  ...         tail
3          bear  hair                  ...  4legs                 catsize
4          boar  hair                  ...  4legs  tail           catsize
..          ...   ...       ...   ...  ...    ...   ...      ...      ...
96      wallaby  hair                  ...  2legs  tail           catsize
97         wasp  hair            eggs  ...  6legs
98         wolf  hair                  ...  4legs  tail           catsize
99         worm                  eggs  ...
100        wren        feathers  eggs  ...  2legs  tail

[101 rows x 17 columns]

In [18]:
!pip install apyori

Collecting apyori
  Downloading https://files.pythonhosted.org/packages/5e/62/5ffde5c473ea4b033490617ec5caa80d59804875ad3c3c57c0976533a21a/apyori-1.1.2.tar.gz
Building wheels for collected packages: apyori
  Building wheel for apyori (setup.py) ... done
  Created wheel for apyori: filename=apyori-1.1.2-cp36-none-any.whl size=5975 sha256=ee0105b8063e7cbe8a1d3b2dabb910e971e3c37b2b00e127eaf68afb94c8bb9f
  Stored in directory: /root/.cache/pip/wheels/5d/92/bb/474bbadbc8c0062b9eb168f69982a0443263f8ab1711a8cad0
Successfully built apyori
Installing collected packages: apyori
Successfully installed apyori-1.1.2

In [19]:
from apyori import apriori

In [20]:
conf = apriori(zoo_type_df, min_support=0.03, use_colnames=True)
conf

In [59]:
freq_items = apriori(zoo_type_df, minsupport=0.2 )
freq_items

In [65]:
freq_items = list(apriori(zoo_type_df, min_support = 0.7, min_confidence = 0.1))
freq_items

[RelationRecord(items=frozenset({'e'}), support=0.7222222222222222, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'e'}), confidence=0.7222222222222222, lift=1.0)])]

In [113]:
#data_sup_conf = list(apriori(transecs, min_support = 0.05, min_confidence = 0.1))
data_sup_conf

KeyboardInterrupt: ignored

In [99]:
transecs.groups

{'Amphibian': [25, 26, 52, 89], 'Bird': [11, 16, 20, 21, 23, 33, 37, 41, 43, 56, 57, 58, 59, 71, 78, 79, 83, 87, 95, 100], 'Bug': [24, 30, 39, 40, 42, 51, 88, 97], 'Fish': [2, 7, 8, 12, 18, 34, 38, 60, 61, 73, 82, 86, 92], 'Invertebrate': [13, 14, 15, 46, 53, 72, 77, 81, 85, 99], 'Mammal': [0, 1, 3, 4, 5, 6, 9, 10, 17, 19, 22, 27, 28, 29, 31, 32, 35, 36, 44, 45, 47, 48, 49, 50, 54, 55, 63, 64, 65, 66, 67, 68, 69, 70, 74, 75, 84, 93, 94, 96, 98], 'Reptile': [62, 76, 80, 90, 91]}

In [100]:
list(transecs)

[('Amphibian',
     animal_name hair feathers  eggs  ...  tail domestic catsize class_type
  25        frog                eggs  ...                         Amphibian
  26        frog                eggs  ...                         Amphibian
  52        newt                eggs  ...  tail                   Amphibian
  89        toad                eggs  ...                         Amphibian

  [4 rows x 18 columns]),
 ('Bird',
      animal_name hair  feathers  eggs  ...  tail  domestic  catsize class_type
  11      chicken       feathers  eggs  ...  tail  domestic                Bird
  16         crow       feathers  eggs  ...  tail                          Bird
  20         dove       feathers  eggs  ...  tail  domestic                Bird
  21         duck       feathers  eggs  ...  tail                          Bird
  23     flamingo       feathers  eggs  ...  tail            catsize       Bird
  33         gull       feathers  eggs  ...  tail                          Bird
  37         hawk       feathers  eggs  ...  tail                          Bird
  41         kiwi       feathers  eggs  ...  tail                          Bird
  43         lark       feathers  eggs  ...  tail                          Bird
  56      ostrich       feathers  eggs  ...  tail            catsize       Bird
  57     parakeet       feathers  eggs  ...  tail  domestic                Bird
  58      penguin       feathers  eggs  ...  tail            catsize       Bird
  59     pheasant       feathers  eggs  ...  tail                          Bird
  71         rhea       feathers  eggs  ...  tail            catsize       Bird
  78      skimmer       feathers  eggs  ...  tail                          Bird
  79         skua       feathers  eggs  ...  tail                          Bird
  83      sparrow       feathers  eggs  ...  tail                          Bird
  87         swan       feathers  eggs  ...  tail            catsize       Bird
  95      vulture       feathers  eggs  ...  tail            catsize       Bird
  100        wren       feathers  eggs  ...  tail                          Bird

  [20 rows x 18 columns]),
 ('Bug',
     animal_name  hair feathers  eggs  ... tail  domestic catsize class_type
  24        flea                 eggs  ...                               Bug
  30        gnat                 eggs  ...                               Bug
  39    honeybee  hair           eggs  ...       domestic                Bug
  40    housefly  hair           eggs  ...                               Bug
  42    ladybird                 eggs  ...                               Bug
  51        moth  hair           eggs  ...                               Bug
  88     termite                 eggs  ...                               Bug
  97        wasp  hair           eggs  ...                               Bug

  [8 rows x 18 columns]),
 ('Fish',
     animal_name hair feathers  eggs  ...  tail  domestic  catsize class_type
  2         bass                eggs  ...  tail                          Fish
  7         carp                eggs  ...  tail  domestic                Fish
  8      catfish                eggs  ...  tail                          Fish
  12        chub                eggs  ...  tail                          Fish
  18     dogfish                eggs  ...  tail            catsize       Fish
  34     haddock                eggs  ...  tail                          Fish
  38     herring                eggs  ...  tail                          Fish
  60        pike                eggs  ...  tail            catsize       Fish
  61     piranha                eggs  ...  tail                          Fish
  73    seahorse                eggs  ...  tail                          Fish
  82        sole                eggs  ...  tail                          Fish
  86    stingray                eggs  ...  tail            catsize       Fish
  92        tuna                eggs  ...  tail            catsize       Fish

  [13 rows x 18 columns]),
 ('Invertebrate',
     animal_name hair feathers  eggs  ...  tail domestic  catsize    class_type
  13        clam                eggs  ...                          Invertebrate
  14        crab                eggs  ...                          Invertebrate
  15    crayfish                eggs  ...                          Invertebrate
  46     lobster                eggs  ...                          Invertebrate
  53     octopus                eggs  ...                 catsize  Invertebrate
  72    scorpion                      ...  tail                    Invertebrate
  77     seawasp                eggs  ...                          Invertebrate
  81        slug                eggs  ...                          Invertebrate
  85    starfish                eggs  ...                          Invertebrate
  99        worm                eggs  ...                          Invertebrate

  [10 rows x 18 columns]),
 ('Mammal',
     animal_name  hair feathers  eggs  ...  tail  domestic  catsize class_type
  0     aardvark  hair                 ...                  catsize     Mammal
  1     antelope  hair                 ...  tail            catsize     Mammal
  3         bear  hair                 ...                  catsize     Mammal
  4         boar  hair                 ...  tail            catsize     Mammal
  5      buffalo  hair                 ...  tail            catsize     Mammal
  6         calf  hair                 ...  tail  domestic  catsize     Mammal
  9         cavy  hair                 ...        domestic              Mammal
  10     cheetah  hair                 ...  tail            catsize     Mammal
  17        deer  hair                 ...  tail            catsize     Mammal
  19     dolphin                       ...  tail            catsize     Mammal
  22    elephant  hair                 ...  tail            catsize     Mammal
  27    fruitbat  hair                 ...  tail                        Mammal
  28     giraffe  hair                 ...  tail            catsize     Mammal
  29        girl  hair                 ...        domestic  catsize     Mammal
  31        goat  hair                 ...  tail  domestic  catsize     Mammal
  32     gorilla  hair                 ...                  catsize     Mammal
  35     hamster  hair                 ...  tail  domestic              Mammal
  36        hare  hair                 ...  tail                        Mammal
  44     leopard  hair                 ...  tail            catsize     Mammal
  45        lion  hair                 ...  tail            catsize     Mammal
  47        lynx  hair                 ...  tail            catsize     Mammal
  48        mink  hair                 ...  tail            catsize     Mammal
  49        mole  hair                 ...  tail                        Mammal
  50    mongoose  hair                 ...  tail            catsize     Mammal
  54     opossum  hair                 ...  tail                        Mammal
  55        oryx  hair                 ...  tail            catsize     Mammal
  63    platypus  hair           eggs  ...  tail            catsize     Mammal
  64     polecat  hair                 ...  tail            catsize     Mammal
  65        pony  hair                 ...  tail  domestic  catsize     Mammal
  66    porpoise                       ...  tail            catsize     Mammal
  67        puma  hair                 ...  tail            catsize     Mammal
  68    pussycat  hair                 ...  tail  domestic  catsize     Mammal
  69     raccoon  hair                 ...  tail            catsize     Mammal
  70    reindeer  hair                 ...  tail  domestic  catsize     Mammal
  74        seal  hair                 ...                  catsize     Mammal
  75     sealion  hair                 ...  tail            catsize     Mammal
  84    squirrel  hair                 ...  tail                        Mammal
  93     vampire  hair                 ...  tail                        Mammal
  94        vole  hair                 ...  tail                        Mammal
  96     wallaby  hair                 ...  tail            catsize     Mammal
  98        wolf  hair                 ...  tail            catsize     Mammal

  [41 rows x 18 columns]),
 ('Reptile',
     animal_name hair feathers  eggs  ...  tail domestic  catsize class_type
  62    pitviper                eggs  ...  tail                      Reptile
  76    seasnake                      ...  tail                      Reptile
  80    slowworm                eggs  ...  tail                      Reptile
  90    tortoise                eggs  ...  tail           catsize    Reptile
  91     tuatara                eggs  ...  tail                      Reptile

  [5 rows x 18 columns])]

In [93]:
transecs.get_group('Amphibian').apply(list)

   animal_name hair feathers  eggs  ...  tail domestic catsize class_type
25        frog                eggs  ...                         Amphibian
26        frog                eggs  ...                         Amphibian
52        newt                eggs  ...  tail                   Amphibian
89        toad                eggs  ...                         Amphibian

[4 rows x 18 columns]