<a href="https://colab.research.google.com/github/PondKann/KKU_data_mining/blob/master/TPro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive 
drive.mount('/content/drive')

Mounted at /content/drive

In [126]:
path = '/content/drive/My Drive/DataMining_Project'

In [127]:
import os
import pandas as pd
zoo_type = os.path.join(path,'zoo.csv')  
class_type = os.path.join(path,'class.csv')
zoo_type_df = pd.read_csv(zoo_type)
class_type_df = pd.read_csv(class_type)

In [128]:
zoo_type_df.head()

  animal_name  hair  feathers  eggs  ...  tail  domestic  catsize  class_type
0    aardvark     1         0     0  ...     0         0        1           1
1    antelope     1         0     0  ...     1         0        1           1
2        bass     0         0     1  ...     1         0        0           4
3        bear     1         0     0  ...     0         0        1           1
4        boar     1         0     0  ...     1         0        1           1

[5 rows x 18 columns]

In [ ]:
#check legs
zoo_type_df.max()

In [129]:
class_type_df.head()

   Class_Number  ...                                        Animal_Name
0             1  ...  aardvark, antelope, bear, boar, buffalo, calf,...
1             2  ...  chicken, crow, dove, duck, flamingo, gull, haw...
2             3  ...    pitviper, seasnake, slowworm, tortoise, tuatara
3             4  ...  bass, carp, catfish, chub, dogfish, haddock, h...
4             5  ...                             frog, frog, newt, toad

[5 rows x 4 columns]

In [130]:
merged_table = zoo_type_df.merge(class_type_df,how='left',left_on='class_type',right_on='Class_Number')
merged_table.head()

  animal_name  ...                                        Animal_Name
0    aardvark  ...  aardvark, antelope, bear, boar, buffalo, calf,...
1    antelope  ...  aardvark, antelope, bear, boar, buffalo, calf,...
2        bass  ...  bass, carp, catfish, chub, dogfish, haddock, h...
3        bear  ...  aardvark, antelope, bear, boar, buffalo, calf,...
4        boar  ...  aardvark, antelope, bear, boar, buffalo, calf,...

[5 rows x 22 columns]

In [131]:
class_z  = merged_table.drop(['Animal_Name','Number_Of_Animal_Species_In_Class','class_type',	'Class_Number','animal_name'],axis=1) 
class_z.head()

   hair  feathers  eggs  milk  ...  tail  domestic  catsize  Class_Type
0     1         0     0     1  ...     0         0        1      Mammal
1     1         0     0     1  ...     1         0        1      Mammal
2     0         0     1     0  ...     1         0        0        Fish
3     1         0     0     1  ...     0         0        1      Mammal
4     1         0     0     1  ...     1         0        1      Mammal

[5 rows x 17 columns]

In [132]:
class_z.shape

(101, 17)

In [ ]:
#data[data['Country']=='United Kingdom']

In [133]:
class_Mammal = class_z[class_z['Class_Type']=='Mammal']
class_Mammal.head()

   hair  feathers  eggs  milk  ...  tail  domestic  catsize  Class_Type
0     1         0     0     1  ...     0         0        1      Mammal
1     1         0     0     1  ...     1         0        1      Mammal
3     1         0     0     1  ...     0         0        1      Mammal
4     1         0     0     1  ...     1         0        1      Mammal
5     1         0     0     1  ...     1         0        1      Mammal

[5 rows x 17 columns]

In [134]:
zoo_type1.head()

  animal_name  hair  feathers  ...  domestic_group  catsize_group  tail_group
0    aardvark     1         0  ...      nodomestic        catsize        tail
1    antelope     1         0  ...      nodomestic        catsize        tail
2        bass     0         0  ...      nodomestic      nocatsize        tail
3        bear     1         0  ...      nodomestic        catsize        tail
4        boar     1         0  ...      nodomestic        catsize        tail

[5 rows x 34 columns]

In [135]:
class_zoo = zoo_type1[['class_type','animal_name','hair_group','feathers_group', 'eggs_group', 'milk_group', 'airborne_group', 'aquatic_group', 'predator_group', 'toothed_group', 'backbone_group', 'breathes_group', 'venomous_group', 'fins_group', 'legs_group','tail_group', 'domestic_group', 'catsize_group' ]]
class_zoo.head()

   class_type animal_name hair_group  ... tail_group domestic_group catsize_group
0           1    aardvark       hair  ...       tail     nodomestic       catsize
1           1    antelope       hair  ...       tail     nodomestic       catsize
2           4        bass     nohair  ...       tail     nodomestic     nocatsize
3           1        bear       hair  ...       tail     nodomestic       catsize
4           1        boar       hair  ...       tail     nodomestic       catsize

[5 rows x 18 columns]

In [140]:
class_z_merged = class_zoo.merge(class_type_df,how='left',left_on='class_type',right_on='Class_Number')
class_z_merged

     class_type  ...                                        Animal_Name
0             1  ...  aardvark, antelope, bear, boar, buffalo, calf,...
1             1  ...  aardvark, antelope, bear, boar, buffalo, calf,...
2             4  ...  bass, carp, catfish, chub, dogfish, haddock, h...
3             1  ...  aardvark, antelope, bear, boar, buffalo, calf,...
4             1  ...  aardvark, antelope, bear, boar, buffalo, calf,...
..          ...  ...                                                ...
96            1  ...  aardvark, antelope, bear, boar, buffalo, calf,...
97            6  ...  flea, gnat, honeybee, housefly, ladybird, moth...
98            1  ...  aardvark, antelope, bear, boar, buffalo, calf,...
99            7  ...  clam, crab, crayfish, lobster, octopus, scorpi...
100           2  ...  chicken, crow, dove, duck, flamingo, gull, haw...

[101 rows x 22 columns]

In [ ]:
class_z_merged.dr =

## แบบในคลิป

In [123]:
zoo_asso2 = pd.read_csv(zoo_type,header = None)
zoo_asso2.head()

            0     1         2     3   ...    14        15       16          17
0  animal_name  hair  feathers  eggs  ...  tail  domestic  catsize  class_type
1     aardvark     1         0     0  ...     0         0        1           1
2     antelope     1         0     0  ...     1         0        1           1
3         bass     0         0     1  ...     1         0        0           4
4         bear     1         0     0  ...     0         0        1           1

[5 rows x 18 columns]

In [124]:
zoo_asso2.shape

(102, 18)

In [9]:
!pip install apyori
import numpy as np
import matplotlib.pyplot as plt
from apyori import apriori

Collecting apyori
  Downloading https://files.pythonhosted.org/packages/5e/62/5ffde5c473ea4b033490617ec5caa80d59804875ad3c3c57c0976533a21a/apyori-1.1.2.tar.gz
Building wheels for collected packages: apyori
  Building wheel for apyori (setup.py) ... done
  Created wheel for apyori: filename=apyori-1.1.2-cp36-none-any.whl size=5975 sha256=d778594517245055ae3dfc8aeb64536bafcdb7f4125bf68048e2e56c861295dc
  Stored in directory: /root/.cache/pip/wheels/5d/92/bb/474bbadbc8c0062b9eb168f69982a0443263f8ab1711a8cad0
Successfully built apyori
Installing collected packages: apyori
Successfully installed apyori-1.1.2

## แบบเปลี่ยนข้อมูล

In [19]:
zoo_type_df = pd.read_csv(zoo_type)

In [17]:
zoo_type_df['hair'].replace([1, 0] , ["hair"," "], inplace = True)
zoo_type_df['feathers'].replace([1, 0] , ["feathers", " "], inplace = True)
zoo_type_df['feathers'].replace([1, 0] , ["feathers", " "], inplace = True)
zoo_type_df['eggs'].replace([1, 0] , ["eggs"," "], inplace = True)
zoo_type_df['milk'].replace([1, 0] , ["milk", " "], inplace = True)
zoo_type_df['airborne'].replace([1, 0] , ["airborne", " "], inplace = True)
zoo_type_df['aquatic'].replace([1, 0] , ["aquatic", " "], inplace = True)
zoo_type_df['predator'].replace([1, 0] , ["predator", " "], inplace = True)
zoo_type_df['toothed'].replace([1, 0] , ["toothed", " "], inplace = True)
zoo_type_df['backbone'].replace([1, 0] , ["backbone", " "], inplace = True)
zoo_type_df['breathes'].replace([1, 0] , ["breathes", " "], inplace = True)
zoo_type_df['venomous'].replace([1, 0] , ["venomous", " "], inplace = True)
zoo_type_df['fins'].replace([1, 0] , ["fins", " "], inplace = True)
zoo_type_df['tail'].replace([1, 0] , ["tail", " "], inplace = True)
zoo_type_df['domestic'].replace([1, 0] , ["domestic", " "], inplace = True)
zoo_type_df['catsize'].replace([1, 0] , ["catsize", " "], inplace = True)
zoo_type_df['legs'].replace([0, 2, 4, 6] , [" ", "2legs", "4legs", "6legs"], inplace = True)

In [20]:
zoo_type_df

    animal_name  hair  feathers  eggs  ...  tail  domestic  catsize  class_type
0      aardvark     1         0     0  ...     0         0        1           1
1      antelope     1         0     0  ...     1         0        1           1
2          bass     0         0     1  ...     1         0        0           4
3          bear     1         0     0  ...     0         0        1           1
4          boar     1         0     0  ...     1         0        1           1
..          ...   ...       ...   ...  ...   ...       ...      ...         ...
96      wallaby     1         0     0  ...     1         0        1           1
97         wasp     1         0     1  ...     0         0        0           6
98         wolf     1         0     0  ...     1         0        1           1
99         worm     0         0     1  ...     0         0        0           7
100        wren     0         1     1  ...     1         0        0           2

[101 rows x 18 columns]

In [21]:
zoo_type1 =zoo_type_df

In [ ]:
#class_z = zoo_type_df.merge(class_type_df,how='left',left_on='class_type',right_on='Class_Type')
#class_z

In [125]:
zoo_type1

    animal_name  hair  feathers  ...  domestic_group  catsize_group  tail_group
0      aardvark     1         0  ...      nodomestic        catsize        tail
1      antelope     1         0  ...      nodomestic        catsize        tail
2          bass     0         0  ...      nodomestic      nocatsize        tail
3          bear     1         0  ...      nodomestic        catsize        tail
4          boar     1         0  ...      nodomestic        catsize        tail
..          ...   ...       ...  ...             ...            ...         ...
96      wallaby     1         0  ...      nodomestic        catsize        tail
97         wasp     1         0  ...      nodomestic      nocatsize        tail
98         wolf     1         0  ...      nodomestic        catsize        tail
99         worm     0         0  ...      nodomestic      nocatsize        tail
100        wren     0         1  ...      nodomestic      nocatsize        tail

[101 rows x 34 columns]

In [24]:
h_bucket = ['nohair','hair']

In [26]:
zoo_type1[['hair']]

     hair
0       1
1       1
2       0
3       1
4       1
..    ...
96      1
97      1
98      1
99      0
100     0

[101 rows x 1 columns]

In [27]:
from pandas.api.types import CategoricalDtype

In [28]:
#แบ่งกลุ่ม hair
h_bucket = ['nohair','hair']
zoo_type1['hair_group'] = pd.cut(zoo_type1.hair,
                            bins=[0,1,2],
                            labels=h_bucket,
                            right=False).astype(str).astype(CategoricalDtype(h_bucket,ordered=True))
zoo_type1

    animal_name  hair  feathers  eggs  ...  domestic  catsize  class_type  hair_group
0      aardvark     1         0     0  ...         0        1           1        hair
1      antelope     1         0     0  ...         0        1           1        hair
2          bass     0         0     1  ...         0        0           4      nohair
3          bear     1         0     0  ...         0        1           1        hair
4          boar     1         0     0  ...         0        1           1        hair
..          ...   ...       ...   ...  ...       ...      ...         ...         ...
96      wallaby     1         0     0  ...         0        1           1        hair
97         wasp     1         0     1  ...         0        0           6        hair
98         wolf     1         0     0  ...         0        1           1        hair
99         worm     0         0     1  ...         0        0           7      nohair
100        wren     0         1     1  ...         0        0           2      nohair

[101 rows x 19 columns]

In [29]:
#แบ่งกลุ่ม hair
f_bucket = ['nofeathers','feathers']
zoo_type1['feathers_group'] = pd.cut(zoo_type1.feathers,
                            bins=[0,1,2],
                            labels=f_bucket,
                            right=False).astype(str).astype(CategoricalDtype(f_bucket,ordered=True))
zoo_type1

    animal_name  hair  feathers  ...  class_type  hair_group  feathers_group
0      aardvark     1         0  ...           1        hair      nofeathers
1      antelope     1         0  ...           1        hair      nofeathers
2          bass     0         0  ...           4      nohair      nofeathers
3          bear     1         0  ...           1        hair      nofeathers
4          boar     1         0  ...           1        hair      nofeathers
..          ...   ...       ...  ...         ...         ...             ...
96      wallaby     1         0  ...           1        hair      nofeathers
97         wasp     1         0  ...           6        hair      nofeathers
98         wolf     1         0  ...           1        hair      nofeathers
99         worm     0         0  ...           7      nohair      nofeathers
100        wren     0         1  ...           2      nohair        feathers

[101 rows x 20 columns]

In [30]:
e_bucket = ['noeggs','eggs']
zoo_type1['eggs_group'] = pd.cut(zoo_type1.eggs,
                            bins=[0,1,2],
                            labels=e_bucket,
                            right=False).astype(str).astype(CategoricalDtype(e_bucket,ordered=True))
zoo_type1

    animal_name  hair  feathers  ...  hair_group  feathers_group  eggs_group
0      aardvark     1         0  ...        hair      nofeathers      noeggs
1      antelope     1         0  ...        hair      nofeathers      noeggs
2          bass     0         0  ...      nohair      nofeathers        eggs
3          bear     1         0  ...        hair      nofeathers      noeggs
4          boar     1         0  ...        hair      nofeathers      noeggs
..          ...   ...       ...  ...         ...             ...         ...
96      wallaby     1         0  ...        hair      nofeathers      noeggs
97         wasp     1         0  ...        hair      nofeathers        eggs
98         wolf     1         0  ...        hair      nofeathers      noeggs
99         worm     0         0  ...      nohair      nofeathers        eggs
100        wren     0         1  ...      nohair        feathers        eggs

[101 rows x 21 columns]

In [31]:
m_bucket = ['nomilk','milk']
zoo_type1['milk_group'] = pd.cut(zoo_type1.milk,
                            bins=[0,1,2],
                            labels=m_bucket,
                            right=False).astype(str).astype(CategoricalDtype(m_bucket,ordered=True))
zoo_type1

    animal_name  hair  feathers  ...  feathers_group  eggs_group  milk_group
0      aardvark     1         0  ...      nofeathers      noeggs        milk
1      antelope     1         0  ...      nofeathers      noeggs        milk
2          bass     0         0  ...      nofeathers        eggs      nomilk
3          bear     1         0  ...      nofeathers      noeggs        milk
4          boar     1         0  ...      nofeathers      noeggs        milk
..          ...   ...       ...  ...             ...         ...         ...
96      wallaby     1         0  ...      nofeathers      noeggs        milk
97         wasp     1         0  ...      nofeathers        eggs      nomilk
98         wolf     1         0  ...      nofeathers      noeggs        milk
99         worm     0         0  ...      nofeathers        eggs      nomilk
100        wren     0         1  ...        feathers        eggs      nomilk

[101 rows x 22 columns]

In [32]:
a_bucket = ['noairborne','airborne']
zoo_type1['airborne_group'] = pd.cut(zoo_type1.airborne,
                            bins=[0,1,2],
                            labels=a_bucket,
                            right=False).astype(str).astype(CategoricalDtype(a_bucket,ordered=True))
zoo_type1

    animal_name  hair  feathers  ...  eggs_group  milk_group  airborne_group
0      aardvark     1         0  ...      noeggs        milk      noairborne
1      antelope     1         0  ...      noeggs        milk      noairborne
2          bass     0         0  ...        eggs      nomilk      noairborne
3          bear     1         0  ...      noeggs        milk      noairborne
4          boar     1         0  ...      noeggs        milk      noairborne
..          ...   ...       ...  ...         ...         ...             ...
96      wallaby     1         0  ...      noeggs        milk      noairborne
97         wasp     1         0  ...        eggs      nomilk        airborne
98         wolf     1         0  ...      noeggs        milk      noairborne
99         worm     0         0  ...        eggs      nomilk      noairborne
100        wren     0         1  ...        eggs      nomilk        airborne

[101 rows x 23 columns]

In [33]:
a_bucket = ['noaquatic','aquatic']
zoo_type1['aquatic_group'] = pd.cut(zoo_type1.aquatic,
                            bins=[0,1,2],
                            labels=a_bucket,
                            right=False).astype(str).astype(CategoricalDtype(a_bucket,ordered=True))
zoo_type1

    animal_name  hair  feathers  ...  milk_group  airborne_group  aquatic_group
0      aardvark     1         0  ...        milk      noairborne      noaquatic
1      antelope     1         0  ...        milk      noairborne      noaquatic
2          bass     0         0  ...      nomilk      noairborne        aquatic
3          bear     1         0  ...        milk      noairborne      noaquatic
4          boar     1         0  ...        milk      noairborne      noaquatic
..          ...   ...       ...  ...         ...             ...            ...
96      wallaby     1         0  ...        milk      noairborne      noaquatic
97         wasp     1         0  ...      nomilk        airborne      noaquatic
98         wolf     1         0  ...        milk      noairborne      noaquatic
99         worm     0         0  ...      nomilk      noairborne      noaquatic
100        wren     0         1  ...      nomilk        airborne      noaquatic

[101 rows x 24 columns]

In [34]:
p_bucket = ['nopredator','predator']
zoo_type1['predator_group'] = pd.cut(zoo_type1.predator,
                            bins=[0,1,2],
                            labels=p_bucket,
                            right=False).astype(str).astype(CategoricalDtype(p_bucket,ordered=True))
zoo_type1

    animal_name  hair  feathers  ...  airborne_group  aquatic_group  predator_group
0      aardvark     1         0  ...      noairborne      noaquatic        predator
1      antelope     1         0  ...      noairborne      noaquatic      nopredator
2          bass     0         0  ...      noairborne        aquatic        predator
3          bear     1         0  ...      noairborne      noaquatic        predator
4          boar     1         0  ...      noairborne      noaquatic        predator
..          ...   ...       ...  ...             ...            ...             ...
96      wallaby     1         0  ...      noairborne      noaquatic      nopredator
97         wasp     1         0  ...        airborne      noaquatic      nopredator
98         wolf     1         0  ...      noairborne      noaquatic        predator
99         worm     0         0  ...      noairborne      noaquatic      nopredator
100        wren     0         1  ...        airborne      noaquatic      nopredator

[101 rows x 25 columns]

In [47]:
t_bucket = ['notoothed','toothed']
zoo_type1['toothed_group'] = pd.cut(zoo_type1.toothed,
                            bins=[0,1,2],
                            labels=t_bucket,
                            right=False).astype(str).astype(CategoricalDtype(t_bucket,ordered=True))
zoo_type1

    animal_name  hair  feathers  ...  venomous_group  fins_group  legs_group
0      aardvark     1         0  ...      novenomous      nofins       4legs
1      antelope     1         0  ...      novenomous      nofins       4legs
2          bass     0         0  ...      novenomous        fins      nolegs
3          bear     1         0  ...      novenomous      nofins       4legs
4          boar     1         0  ...      novenomous      nofins       4legs
..          ...   ...       ...  ...             ...         ...         ...
96      wallaby     1         0  ...      novenomous      nofins       2legs
97         wasp     1         0  ...        venomous      nofins       6legs
98         wolf     1         0  ...      novenomous      nofins       4legs
99         worm     0         0  ...      novenomous      nofins      nolegs
100        wren     0         1  ...      novenomous      nofins       2legs

[101 rows x 31 columns]

In [36]:
b_bucket = ['nobackbone','backbone']
zoo_type1['backbone_group'] = pd.cut(zoo_type1.backbone,
                            bins=[0,1,2],
                            labels=b_bucket,
                            right=False).astype(str).astype(CategoricalDtype(b_bucket,ordered=True))
zoo_type1

    animal_name  hair  feathers  ...  predator_group  toothed_group  backbone_group
0      aardvark     1         0  ...        predator      \ttoothed        backbone
1      antelope     1         0  ...      nopredator      \ttoothed        backbone
2          bass     0         0  ...        predator      \ttoothed        backbone
3          bear     1         0  ...        predator      \ttoothed        backbone
4          boar     1         0  ...        predator      \ttoothed        backbone
..          ...   ...       ...  ...             ...            ...             ...
96      wallaby     1         0  ...      nopredator      \ttoothed        backbone
97         wasp     1         0  ...      nopredator      notoothed      nobackbone
98         wolf     1         0  ...        predator      \ttoothed        backbone
99         worm     0         0  ...      nopredator      notoothed      nobackbone
100        wren     0         1  ...      nopredator      notoothed        backbone

[101 rows x 27 columns]

In [46]:
b_bucket = ['nobreathes','breathes']
zoo_type1['breathes_group'] = pd.cut(zoo_type1.breathes,
                            bins=[0,1,2],
                            labels=b_bucket,
                            right=False).astype(str).astype(CategoricalDtype(b_bucket,ordered=True))
zoo_type1

    animal_name  hair  feathers  ...  venomous_group  fins_group  legs_group
0      aardvark     1         0  ...      novenomous      nofins       4legs
1      antelope     1         0  ...      novenomous      nofins       4legs
2          bass     0         0  ...      novenomous        fins      nolegs
3          bear     1         0  ...      novenomous      nofins       4legs
4          boar     1         0  ...      novenomous      nofins       4legs
..          ...   ...       ...  ...             ...         ...         ...
96      wallaby     1         0  ...      novenomous      nofins       2legs
97         wasp     1         0  ...        venomous      nofins       6legs
98         wolf     1         0  ...      novenomous      nofins       4legs
99         worm     0         0  ...      novenomous      nofins      nolegs
100        wren     0         1  ...      novenomous      nofins       2legs

[101 rows x 31 columns]

In [45]:
v_bucket = ['novenomous','venomous']
zoo_type1['venomous_group'] = pd.cut(zoo_type1.venomous,
                            bins=[0,1,2],
                            labels=v_bucket,
                            right=False).astype(str).astype(CategoricalDtype(v_bucket,ordered=True))
zoo_type1

    animal_name  hair  feathers  ...  venomous_group  fins_group  legs_group
0      aardvark     1         0  ...      novenomous      nofins       4legs
1      antelope     1         0  ...      novenomous      nofins       4legs
2          bass     0         0  ...      novenomous        fins      nolegs
3          bear     1         0  ...      novenomous      nofins       4legs
4          boar     1         0  ...      novenomous      nofins       4legs
..          ...   ...       ...  ...             ...         ...         ...
96      wallaby     1         0  ...      novenomous      nofins       2legs
97         wasp     1         0  ...        venomous      nofins       6legs
98         wolf     1         0  ...      novenomous      nofins       4legs
99         worm     0         0  ...      novenomous      nofins      nolegs
100        wren     0         1  ...      novenomous      nofins       2legs

[101 rows x 31 columns]

In [44]:
f_bucket = ['nofins','fins']
zoo_type1['fins_group'] = pd.cut(zoo_type1.	fins,
                            bins=[0,1,2],
                            labels=f_bucket,
                            right=False).astype(str).astype(CategoricalDtype(f_bucket,ordered=True))
zoo_type1

    animal_name  hair  feathers  ...  venomous_group  fins_group  legs_group
0      aardvark     1         0  ...    novenomous\t      nofins       4legs
1      antelope     1         0  ...    novenomous\t      nofins       4legs
2          bass     0         0  ...    novenomous\t        fins      nolegs
3          bear     1         0  ...    novenomous\t      nofins       4legs
4          boar     1         0  ...    novenomous\t      nofins       4legs
..          ...   ...       ...  ...             ...         ...         ...
96      wallaby     1         0  ...    novenomous\t      nofins       2legs
97         wasp     1         0  ...        venomous      nofins       6legs
98         wolf     1         0  ...    novenomous\t      nofins       4legs
99         worm     0         0  ...    novenomous\t      nofins      nolegs
100        wren     0         1  ...    novenomous\t      nofins       2legs

[101 rows x 31 columns]

In [90]:
l_bucket = ['nolegs','2legs','4legs','6legs','8legs']
zoo_type1['legs_group'] = pd.cut(zoo_type1.	legs,
                            bins=[0,2,4,6,7,9],
                            labels=l_bucket,
                            right=False).astype(str).astype(CategoricalDtype(l_bucket,ordered=True))
zoo_type1

    animal_name  hair  feathers  ...  domestic_group  catsize_group  tail_group
0      aardvark     1         0  ...      nodomestic        catsize        tail
1      antelope     1         0  ...      nodomestic        catsize        tail
2          bass     0         0  ...      nodomestic      nocatsize        tail
3          bear     1         0  ...      nodomestic        catsize        tail
4          boar     1         0  ...      nodomestic        catsize        tail
..          ...   ...       ...  ...             ...            ...         ...
96      wallaby     1         0  ...      nodomestic        catsize        tail
97         wasp     1         0  ...      nodomestic      nocatsize        tail
98         wolf     1         0  ...      nodomestic        catsize        tail
99         worm     0         0  ...      nodomestic      nocatsize        tail
100        wren     0         1  ...      nodomestic      nocatsize        tail

[101 rows x 34 columns]

In [52]:
zoo_type1[['tail']]

     tail
0       0
1       1
2       1
3       0
4       1
..    ...
96      1
97      0
98      1
99      0
100     1

[101 rows x 1 columns]

In [56]:
zoo_type1

    animal_name  hair  feathers  ...  fins_group  legs_group  domestic_group
0      aardvark     1         0  ...      nofins       4legs      nodomestic
1      antelope     1         0  ...      nofins       4legs      nodomestic
2          bass     0         0  ...        fins      nolegs      nodomestic
3          bear     1         0  ...      nofins       4legs      nodomestic
4          boar     1         0  ...      nofins       4legs      nodomestic
..          ...   ...       ...  ...         ...         ...             ...
96      wallaby     1         0  ...      nofins       2legs      nodomestic
97         wasp     1         0  ...      nofins       6legs      nodomestic
98         wolf     1         0  ...      nofins       4legs      nodomestic
99         worm     0         0  ...      nofins      nolegs      nodomestic
100        wren     0         1  ...      nofins       2legs      nodomestic

[101 rows x 32 columns]

In [57]:
c_bucket = ['nocatsize','catsize']
zoo_type1['catsize_group'] = pd.cut(zoo_type1.catsize,
                            bins=[0,1,2],
                            labels=c_bucket,
                            right=False).astype(str).astype(CategoricalDtype(c_bucket,ordered=True))
zoo_type1

    animal_name  hair  feathers  ...  legs_group  domestic_group  catsize_group
0      aardvark     1         0  ...       4legs      nodomestic        catsize
1      antelope     1         0  ...       4legs      nodomestic        catsize
2          bass     0         0  ...      nolegs      nodomestic      nocatsize
3          bear     1         0  ...       4legs      nodomestic        catsize
4          boar     1         0  ...       4legs      nodomestic        catsize
..          ...   ...       ...  ...         ...             ...            ...
96      wallaby     1         0  ...       2legs      nodomestic        catsize
97         wasp     1         0  ...       6legs      nodomestic      nocatsize
98         wolf     1         0  ...       4legs      nodomestic        catsize
99         worm     0         0  ...      nolegs      nodomestic      nocatsize
100        wren     0         1  ...       2legs      nodomestic      nocatsize

[101 rows x 33 columns]

In [60]:
bucket = ['notail','tail']
bucket

['notail', 'tail']

In [64]:
zoo_type1.shape

(101, 33)

In [ ]:
for i in range(len(zoo_type1)):
  print(zoo_type1['tail'][i])

In [69]:
for i in range(len(zoo_type1)):
  if zoo_type1['tail'][i] == 0:
    zoo_type1['tail_group'] = 'notail'
  else:
    zoo_type1['tail_group'] = 'tail'

In [70]:
zoo_type1

    animal_name  hair  feathers  ...  domestic_group  catsize_group  tail_group
0      aardvark     1         0  ...      nodomestic        catsize        tail
1      antelope     1         0  ...      nodomestic        catsize        tail
2          bass     0         0  ...      nodomestic      nocatsize        tail
3          bear     1         0  ...      nodomestic        catsize        tail
4          boar     1         0  ...      nodomestic        catsize        tail
..          ...   ...       ...  ...             ...            ...         ...
96      wallaby     1         0  ...      nodomestic        catsize        tail
97         wasp     1         0  ...      nodomestic      nocatsize        tail
98         wolf     1         0  ...      nodomestic        catsize        tail
99         worm     0         0  ...      nodomestic      nocatsize        tail
100        wren     0         1  ...      nodomestic      nocatsize        tail

[101 rows x 34 columns]

In [15]:
zoo_type_df.feathers

0      0
1      0
2      0
3      0
4      0
      ..
96     0
97     0
98     0
99     0
100    1
Name: feathers, Length: 101, dtype: int64

In [ ]:
records = []
for i in range(0, len(zoo_type_df)):

  records.append([str(zoo_type_df.values[i,j])  for j in range(0,17)])

In [ ]:
association_rules = apriori(records, min_support=0.45, min_confidence=0.2)
association_results = list(association_rules)
association_results

#ASSO

In [71]:
zoo_type1

    animal_name  hair  feathers  ...  domestic_group  catsize_group  tail_group
0      aardvark     1         0  ...      nodomestic        catsize        tail
1      antelope     1         0  ...      nodomestic        catsize        tail
2          bass     0         0  ...      nodomestic      nocatsize        tail
3          bear     1         0  ...      nodomestic        catsize        tail
4          boar     1         0  ...      nodomestic        catsize        tail
..          ...   ...       ...  ...             ...            ...         ...
96      wallaby     1         0  ...      nodomestic        catsize        tail
97         wasp     1         0  ...      nodomestic      nocatsize        tail
98         wolf     1         0  ...      nodomestic        catsize        tail
99         worm     0         0  ...      nodomestic      nocatsize        tail
100        wren     0         1  ...      nodomestic      nocatsize        tail

[101 rows x 34 columns]

In [83]:
zoo_type1[['venomous_group','hair_group']]

    venomous_group hair_group
0       novenomous       hair
1       novenomous       hair
2       novenomous     nohair
3       novenomous       hair
4       novenomous       hair
..             ...        ...
96      novenomous       hair
97        venomous       hair
98      novenomous       hair
99      novenomous     nohair
100     novenomous     nohair

[101 rows x 2 columns]

In [91]:
zoo_type2 = zoo_type1[['animal_name','hair_group','feathers_group', 'eggs_group', 'milk_group', 'airborne_group', 'aquatic_group', 'predator_group', 'toothed_group', 'backbone_group', 'breathes_group', 'venomous_group', 'fins_group', 'legs_group','tail_group', 'domestic_group', 'catsize_group' ]]
zoo_type2

    animal_name hair_group  ... domestic_group catsize_group
0      aardvark       hair  ...     nodomestic       catsize
1      antelope       hair  ...     nodomestic       catsize
2          bass     nohair  ...     nodomestic     nocatsize
3          bear       hair  ...     nodomestic       catsize
4          boar       hair  ...     nodomestic       catsize
..          ...        ...  ...            ...           ...
96      wallaby       hair  ...     nodomestic       catsize
97         wasp       hair  ...     nodomestic     nocatsize
98         wolf       hair  ...     nodomestic       catsize
99         worm     nohair  ...     nodomestic     nocatsize
100        wren     nohair  ...     nodomestic     nocatsize

[101 rows x 17 columns]

In [93]:
zoo_type2.isnull().any().any()

False

In [87]:
zoo_type2['legs_group']

0       4legs
1       4legs
2      nolegs
3       4legs
4       4legs
        ...
96      2legs
97      6legs
98      4legs
99     nolegs
100     2legs
Name: legs_group, Length: 101, dtype: category
Categories (4, object): ['nolegs' < '2legs' < '4legs' < '6legs']

In [94]:
#Convert data to list
transacs = []
for i in range(0,len(zoo_type2)):
  transacs.append([str(zoo_type2.values[i,j]) for j in range(1,17)])
transacs

[['hair',
  'nofeathers',
  'noeggs',
  'milk',
  'noairborne',
  'noaquatic',
  'predator',
  'toothed',
  'backbone',
  'breathes',
  'novenomous',
  'nofins',
  '4legs',
  'tail',
  'nodomestic',
  'catsize'],
 ['hair',
  'nofeathers',
  'noeggs',
  'milk',
  'noairborne',
  'noaquatic',
  'nopredator',
  'toothed',
  'backbone',
  'breathes',
  'novenomous',
  'nofins',
  '4legs',
  'tail',
  'nodomestic',
  'catsize'],
 ['nohair',
  'nofeathers',
  'eggs',
  'nomilk',
  'noairborne',
  'aquatic',
  'predator',
  'toothed',
  'backbone',
  'nobreathes',
  'novenomous',
  'fins',
  'nolegs',
  'tail',
  'nodomestic',
  'nocatsize'],
 ['hair',
  'nofeathers',
  'noeggs',
  'milk',
  'noairborne',
  'noaquatic',
  'predator',
  'toothed',
  'backbone',
  'breathes',
  'novenomous',
  'nofins',
  '4legs',
  'tail',
  'nodomestic',
  'catsize'],
 ['hair',
  'nofeathers',
  'noeggs',
  'milk',
  'noairborne',
  'noaquatic',
  'predator',
  'toothed',
  'backbone',
  'breathes',
  'novenomous',
  'nofins',
  '4legs',
  'tail',
  'nodomestic',
  'catsize'],
 ['hair',
  'nofeathers',
  'noeggs',
  'milk',
  'noairborne',
  'noaquatic',
  'nopredator',
  'toothed',
  'backbone',
  'breathes',
  'novenomous',
  'nofins',
  '4legs',
  'tail',
  'nodomestic',
  'catsize'],
 ['hair',
  'nofeathers',
  'noeggs',
  'milk',
  'noairborne',
  'noaquatic',
  'nopredator',
  'toothed',
  'backbone',
  'breathes',
  'novenomous',
  'nofins',
  '4legs',
  'tail',
  'domestic',
  'catsize'],
 ['nohair',
  'nofeathers',
  'eggs',
  'nomilk',
  'noairborne',
  'aquatic',
  'nopredator',
  'toothed',
  'backbone',
  'nobreathes',
  'novenomous',
  'fins',
  'nolegs',
  'tail',
  'domestic',
  'nocatsize'],
 ['nohair',
  'nofeathers',
  'eggs',
  'nomilk',
  'noairborne',
  'aquatic',
  'predator',
  'toothed',
  'backbone',
  'nobreathes',
  'novenomous',
  'fins',
  'nolegs',
  'tail',
  'nodomestic',
  'nocatsize'],
 ['hair',
  'nofeathers',
  'noeggs',
  'milk',
  'noairborne',
  'noaquatic',
  'nopredator',
  'toothed',
  'backbone',
  'breathes',
  'novenomous',
  'nofins',
  '4legs',
  'tail',
  'domestic',
  'nocatsize'],
 ['hair',
  'nofeathers',
  'noeggs',
  'milk',
  'noairborne',
  'noaquatic',
  'predator',
  'toothed',
  'backbone',
  'breathes',
  'novenomous',
  'nofins',
  '4legs',
  'tail',
  'nodomestic',
  'catsize'],
 ['nohair',
  'feathers',
  'eggs',
  'nomilk',
  'airborne',
  'noaquatic',
  'nopredator',
  'notoothed',
  'backbone',
  'breathes',
  'novenomous',
  'nofins',
  '2legs',
  'tail',
  'domestic',
  'nocatsize'],
 ['nohair',
  'nofeathers',
  'eggs',
  'nomilk',
  'noairborne',
  'aquatic',
  'predator',
  'toothed',
  'backbone',
  'nobreathes',
  'novenomous',
  'fins',
  'nolegs',
  'tail',
  'nodomestic',
  'nocatsize'],
 ['nohair',
  'nofeathers',
  'eggs',
  'nomilk',
  'noairborne',
  'noaquatic',
  'predator',
  'notoothed',
  'nobackbone',
  'nobreathes',
  'novenomous',
  'nofins',
  'nolegs',
  'tail',
  'nodomestic',
  'nocatsize'],
 ['nohair',
  'nofeathers',
  'eggs',
  'nomilk',
  'noairborne',
  'aquatic',
  'predator',
  'notoothed',
  'nobackbone',
  'nobreathes',
  'novenomous',
  'nofins',
  '4legs',
  'tail',
  'nodomestic',
  'nocatsize'],
 ['nohair',
  'nofeathers',
  'eggs',
  'nomilk',
  'noairborne',
  'aquatic',
  'predator',
  'notoothed',
  'nobackbone',
  'nobreathes',
  'novenomous',
  'nofins',
  '6legs',
  'tail',
  'nodomestic',
  'nocatsize'],
 ['nohair',
  'feathers',
  'eggs',
  'nomilk',
  'airborne',
  'noaquatic',
  'predator',
  'notoothed',
  'backbone',
  'breathes',
  'novenomous',
  'nofins',
  '2legs',
  'tail',
  'nodomestic',
  'nocatsize'],
 ['hair',
  'nofeathers',
  'noeggs',
  'milk',
  'noairborne',
  'noaquatic',
  'nopredator',
  'toothed',
  'backbone',
  'breathes',
  'novenomous',
  'nofins',
  '4legs',
  'tail',
  'nodomestic',
  'catsize'],
 ['nohair',
  'nofeathers',
  'eggs',
  'nomilk',
  'noairborne',
  'aquatic',
  'predator',
  'toothed',
  'backbone',
  'nobreathes',
  'novenomous',
  'fins',
  'nolegs',
  'tail',
  'nodomestic',
  'catsize'],
 ['nohair',
  'nofeathers',
  'noeggs',
  'milk',
  'noairborne',
  'aquatic',
  'predator',
  'toothed',
  'backbone',
  'breathes',
  'novenomous',
  'fins',
  'nolegs',
  'tail',
  'nodomestic',
  'catsize'],
 ['nohair',
  'feathers',
  'eggs',
  'nomilk',
  'airborne',
  'noaquatic',
  'nopredator',
  'notoothed',
  'backbone',
  'breathes',
  'novenomous',
  'nofins',
  '2legs',
  'tail',
  'domestic',
  'nocatsize'],
 ['nohair',
  'feathers',
  'eggs',
  'nomilk',
  'airborne',
  'aquatic',
  'nopredator',
  'notoothed',
  'backbone',
  'breathes',
  'novenomous',
  'nofins',
  '2legs',
  'tail',
  'nodomestic',
  'nocatsize'],
 ['hair',
  'nofeathers',
  'noeggs',
  'milk',
  'noairborne',
  'noaquatic',
  'nopredator',
  'toothed',
  'backbone',
  'breathes',
  'novenomous',
  'nofins',
  '4legs',
  'tail',
  'nodomestic',
  'catsize'],
 ['nohair',
  'feathers',
  'eggs',
  'nomilk',
  'airborne',
  'noaquatic',
  'nopredator',
  'notoothed',
  'backbone',
  'breathes',
  'novenomous',
  'nofins',
  '2legs',
  'tail',
  'nodomestic',
  'catsize'],
 ['nohair',
  'nofeathers',
  'eggs',
  'nomilk',
  'noairborne',
  'noaquatic',
  'nopredator',
  'notoothed',
  'nobackbone',
  'breathes',
  'novenomous',
  'nofins',
  '6legs',
  'tail',
  'nodomestic',
  'nocatsize'],
 ['nohair',
  'nofeathers',
  'eggs',
  'nomilk',
  'noairborne',
  'aquatic',
  'predator',
  'toothed',
  'backbone',
  'breathes',
  'novenomous',
  'nofins',
  '4legs',
  'tail',
  'nodomestic',
  'nocatsize'],
 ['nohair',
  'nofeathers',
  'eggs',
  'nomilk',
  'noairborne',
  'aquatic',
  'predator',
  'toothed',
  'backbone',
  'breathes',
  'venomous',
  'nofins',
  '4legs',
  'tail',
  'nodomestic',
  'nocatsize'],
 ['hair',
  'nofeathers',
  'noeggs',
  'milk',
  'airborne',
  'noaquatic',
  'nopredator',
  'toothed',
  'backbone',
  'breathes',
  'novenomous',
  'nofins',
  '2legs',
  'tail',
  'nodomestic',
  'nocatsize'],
 ['hair',
  'nofeathers',
  'noeggs',
  'milk',
  'noairborne',
  'noaquatic',
  'nopredator',
  'toothed',
  'backbone',
  'breathes',
  'novenomous',
  'nofins',
  '4legs',
  'tail',
  'nodomestic',
  'catsize'],
 ['hair',
  'nofeathers',
  'noeggs',
  'milk',
  'noairborne',
  'noaquatic',
  'predator',
  'toothed',
  'backbone',
  'breathes',
  'novenomous',
  'nofins',
  '2legs',
  'tail',
  'domestic',
  'catsize'],
 ['nohair',
  'nofeathers',
  'eggs',
  'nomilk',
  'airborne',
  'noaquatic',
  'nopredator',
  'notoothed',
  'nobackbone',
  'breathes',
  'novenomous',
  'nofins',
  '6legs',
  'tail',
  'nodomestic',
  'nocatsize'],
 ['hair',
  'nofeathers',
  'noeggs',
  'milk',
  'noairborne',
  'noaquatic',
  'nopredator',
  'toothed',
  'backbone',
  'breathes',
  'novenomous',
  'nofins',
  '4legs',
  'tail',
  'domestic',
  'catsize'],
 ['hair',
  'nofeathers',
  'noeggs',
  'milk',
  'noairborne',
  'noaquatic',
  'nopredator',
  'toothed',
  'backbone',
  'breathes',
  'novenomous',
  'nofins',
  '2legs',
  'tail',
  'nodomestic',
  'catsize'],
 ['nohair',
  'feathers',
  'eggs',
  'nomilk',
  'airborne',
  'aquatic',
  'predator',
  'notoothed',
  'backbone',
  'breathes',
  'novenomous',
  'nofins',
  '2legs',
  'tail',
  'nodomestic',
  'nocatsize'],
 ['nohair',
  'nofeathers',
  'eggs',
  'nomilk',
  'noairborne',
  'aquatic',
  'nopredator',
  'toothed',
  'backbone',
  'nobreathes',
  'novenomous',
  'fins',
  'nolegs',
  'tail',
  'nodomestic',
  'nocatsize'],
 ['hair',
  'nofeathers',
  'noeggs',
  'milk',
  'noairborne',
  'noaquatic',
  'nopredator',
  'toothed',
  'backbone',
  'breathes',
  'novenomous',
  'nofins',
  '4legs',
  'tail',
  'domestic',
  'nocatsize'],
 ['hair',
  'nofeathers',
  'noeggs',
  'milk',
  'noairborne',
  'noaquatic',
  'nopredator',
  'toothed',
  'backbone',
  'breathes',
  'novenomous',
  'nofins',
  '4legs',
  'tail',
  'nodomestic',
  'nocatsize'],
 ['nohair',
  'feathers',
  'eggs',
  'nomilk',
  'airborne',
  'noaquatic',
  'predator',
  'notoothed',
  'backbone',
  'breathes',
  'novenomous',
  'nofins',
  '2legs',
  'tail',
  'nodomestic',
  'nocatsize'],
 ['nohair',
  'nofeathers',
  'eggs',
  'nomilk',
  'noairborne',
  'aquatic',
  'predator',
  'toothed',
  'backbone',
  'nobreathes',
  'novenomous',
  'fins',
  'nolegs',
  'tail',
  'nodomestic',
  'nocatsize'],
 ['hair',
  'nofeathers',
  'eggs',
  'nomilk',
  'airborne',
  'noaquatic',
  'nopredator',
  'notoothed',
  'nobackbone',
  'breathes',
  'venomous',
  'nofins',
  '6legs',
  'tail',
  'domestic',
  'nocatsize'],
 ['hair',
  'nofeathers',
  'eggs',
  'nomilk',
  'airborne',
  'noaquatic',
  'nopredator',
  'notoothed',
  'nobackbone',
  'breathes',
  'novenomous',
  'nofins',
  '6legs',
  'tail',
  'nodomestic',
  'nocatsize'],
 ['nohair',
  'feathers',
  'eggs',
  'nomilk',
  'noairborne',
  'noaquatic',
  'predator',
  'notoothed',
  'backbone',
  'breathes',
  'novenomous',
  'nofins',
  '2legs',
  'tail',
  'nodomestic',
  'nocatsize'],
 ['nohair',
  'nofeathers',
  'eggs',
  'nomilk',
  'airborne',
  'noaquatic',
  'predator',
  'notoothed',
  'nobackbone',
  'breathes',
  'novenomous',
  'nofins',
  '6legs',
  'tail',
  'nodomestic',
  'nocatsize'],
 ['nohair',
  'feathers',
  'eggs',
  'nomilk',
  'airborne',
  'noaquatic',
  'nopredator',
  'notoothed',
  'backbone',
  'breathes',
  'novenomous',
  'nofins',
  '2legs',
  'tail',
  'nodomestic',
  'nocatsize'],
 ['hair',
  'nofeathers',
  'noeggs',
  'milk',
  'noairborne',
  'noaquatic',
  'predator',
  'toothed',
  'backbone',
  'breathes',
  'novenomous',
  'nofins',
  '4legs',
  'tail',
  'nodomestic',
  'catsize'],
 ['hair',
  'nofeathers',
  'noeggs',
  'milk',
  'noairborne',
  'noaquatic',
  'predator',
  'toothed',
  'backbone',
  'breathes',
  'novenomous',
  'nofins',
  '4legs',
  'tail',
  'nodomestic',
  'catsize'],
 ['nohair',
  'nofeathers',
  'eggs',
  'nomilk',
  'noairborne',
  'aquatic',
  'predator',
  'notoothed',
  'nobackbone',
  'nobreathes',
  'novenomous',
  'nofins',
  '6legs',
  'tail',
  'nodomestic',
  'nocatsize'],
 ['hair',
  'nofeathers',
  'noeggs',
  'milk',
  'noairborne',
  'noaquatic',
  'predator',
  'toothed',
  'backbone',
  'breathes',
  'novenomous',
  'nofins',
  '4legs',
  'tail',
  'nodomestic',
  'catsize'],
 ['hair',
  'nofeathers',
  'noeggs',
  'milk',
  'noairborne',
  'aquatic',
  'predator',
  'toothed',
  'backbone',
  'breathes',
  'novenomous',
  'nofins',
  '4legs',
  'tail',
  'nodomestic',
  'catsize'],
 ['hair',
  'nofeathers',
  'noeggs',
  'milk',
  'noairborne',
  'noaquatic',
  'predator',
  'toothed',
  'backbone',
  'breathes',
  'novenomous',
  'nofins',
  '4legs',
  'tail',
  'nodomestic',
  'nocatsize'],
 ['hair',
  'nofeathers',
  'noeggs',
  'milk',
  'noairborne',
  'noaquatic',
  'predator',
  'toothed',
  'backbone',
  'breathes',
  'novenomous',
  'nofins',
  '4legs',
  'tail',
  'nodomestic',
  'catsize'],
 ['hair',
  'nofeathers',
  'eggs',
  'nomilk',
  'airborne',
  'noaquatic',
  'nopredator',
  'notoothed',
  'nobackbone',
  'breathes',
  'novenomous',
  'nofins',
  '6legs',
  'tail',
  'nodomestic',
  'nocatsize'],
 ['nohair',
  'nofeathers',
  'eggs',
  'nomilk',
  'noairborne',
  'aquatic',
  'predator',
  'toothed',
  'backbone',
  'breathes',
  'novenomous',
  'nofins',
  '4legs',
  'tail',
  'nodomestic',
  'nocatsize'],
 ['nohair',
  'nofeathers',
  'eggs',
  'nomilk',
  'noairborne',
  'aquatic',
  'predator',
  'notoothed',
  'nobackbone',
  'nobreathes',
  'novenomous',
  'nofins',
  '8legs',
  'tail',
  'nodomestic',
  'catsize'],
 ['hair',
  'nofeathers',
  'noeggs',
  'milk',
  'noairborne',
  'noaquatic',
  'predator',
  'toothed',
  'backbone',
  'breathes',
  'novenomous',
  'nofins',
  '4legs',
  'tail',
  'nodomestic',
  'nocatsize'],
 ['hair',
  'nofeathers',
  'noeggs',
  'milk',
  'noairborne',
  'noaquatic',
  'nopredator',
  'toothed',
  'backbone',
  'breathes',
  'novenomous',
  'nofins',
  '4legs',
  'tail',
  'nodomestic',
  'catsize'],
 ['nohair',
  'feathers',
  'eggs',
  'nomilk',
  'noairborne',
  'noaquatic',
  'nopredator',
  'notoothed',
  'backbone',
  'breathes',
  'novenomous',
  'nofins',
  '2legs',
  'tail',
  'nodomestic',
  'catsize'],
 ['nohair',
  'feathers',
  'eggs',
  'nomilk',
  'airborne',
  'noaquatic',
  'nopredator',
  'notoothed',
  'backbone',
  'breathes',
  'novenomous',
  'nofins',
  '2legs',
  'tail',
  'domestic',
  'nocatsize'],
 ['nohair',
  'feathers',
  'eggs',
  'nomilk',
  'noairborne',
  'aquatic',
  'predator',
  'notoothed',
  'backbone',
  'breathes',
  'novenomous',
  'nofins',
  '2legs',
  'tail',
  'nodomestic',
  'catsize'],
 ['nohair',
  'feathers',
  'eggs',
  'nomilk',
  'airborne',
  'noaquatic',
  'nopredator',
  'notoothed',
  'backbone',
  'breathes',
  'novenomous',
  'nofins',
  '2legs',
  'tail',
  'nodomestic',
  'nocatsize'],
 ['nohair',
  'nofeathers',
  'eggs',
  'nomilk',
  'noairborne',
  'aquatic',
  'predator',
  'toothed',
  'backbone',
  'nobreathes',
  'novenomous',
  'fins',
  'nolegs',
  'tail',
  'nodomestic',
  'catsize'],
 ['nohair',
  'nofeathers',
  'eggs',
  'nomilk',
  'noairborne',
  'aquatic',
  'predator',
  'toothed',
  'backbone',
  'nobreathes',
  'novenomous',
  'fins',
  'nolegs',
  'tail',
  'nodomestic',
  'nocatsize'],
 ['nohair',
  'nofeathers',
  'eggs',
  'nomilk',
  'noairborne',
  'noaquatic',
  'predator',
  'toothed',
  'backbone',
  'breathes',
  'venomous',
  'nofins',
  'nolegs',
  'tail',
  'nodomestic',
  'nocatsize'],
 ['hair',
  'nofeathers',
  'eggs',
  'milk',
  'noairborne',
  'aquatic',
  'predator',
  'notoothed',
  'backbone',
  'breathes',
  'novenomous',
  'nofins',
  '4legs',
  'tail',
  'nodomestic',
  'catsize'],
 ['hair',
  'nofeathers',
  'noeggs',
  'milk',
  'noairborne',
  'noaquatic',
  'predator',
  'toothed',
  'backbone',
  'breathes',
  'novenomous',
  'nofins',
  '4legs',
  'tail',
  'nodomestic',
  'catsize'],
 ['hair',
  'nofeathers',
  'noeggs',
  'milk',
  'noairborne',
  'noaquatic',
  'nopredator',
  'toothed',
  'backbone',
  'breathes',
  'novenomous',
  'nofins',
  '4legs',
  'tail',
  'domestic',
  'catsize'],
 ['nohair',
  'nofeathers',
  'noeggs',
  'milk',
  'noairborne',
  'aquatic',
  'predator',
  'toothed',
  'backbone',
  'breathes',
  'novenomous',
  'fins',
  'nolegs',
  'tail',
  'nodomestic',
  'catsize'],
 ['hair',
  'nofeathers',
  'noeggs',
  'milk',
  'noairborne',
  'noaquatic',
  'predator',
  'toothed',
  'backbone',
  'breathes',
  'novenomous',
  'nofins',
  '4legs',
  'tail',
  'nodomestic',
  'catsize'],
 ['hair',
  'nofeathers',
  'noeggs',
  'milk',
  'noairborne',
  'noaquatic',
  'predator',
  'toothed',
  'backbone',
  'breathes',
  'novenomous',
  'nofins',
  '4legs',
  'tail',
  'domestic',
  'catsize'],
 ['hair',
  'nofeathers',
  'noeggs',
  'milk',
  'noairborne',
  'noaquatic',
  'predator',
  'toothed',
  'backbone',
  'breathes',
  'novenomous',
  'nofins',
  '4legs',
  'tail',
  'nodomestic',
  'catsize'],
 ['hair',
  'nofeathers',
  'noeggs',
  'milk',
  'noairborne',
  'noaquatic',
  'nopredator',
  'toothed',
  'backbone',
  'breathes',
  'novenomous',
  'nofins',
  '4legs',
  'tail',
  'domestic',
  'catsize'],
 ['nohair',
  'feathers',
  'eggs',
  'nomilk',
  'noairborne',
  'noaquatic',
  'predator',
  'notoothed',
  'backbone',
  'breathes',
  'novenomous',
  'nofins',
  '2legs',
  'tail',
  'nodomestic',
  'catsize'],
 ['nohair',
  'nofeathers',
  'noeggs',
  'nomilk',
  'noairborne',
  'noaquatic',
  'predator',
  'notoothed',
  'nobackbone',
  'breathes',
  'venomous',
  'nofins',
  '8legs',
  'tail',
  'nodomestic',
  'nocatsize'],
 ['nohair',
  'nofeathers',
  'eggs',
  'nomilk',
  'noairborne',
  'aquatic',
  'nopredator',
  'toothed',
  'backbone',
  'nobreathes',
  'novenomous',
  'fins',
  'nolegs',
  'tail',
  'nodomestic',
  'nocatsize'],
 ['hair',
  'nofeathers',
  'noeggs',
  'milk',
  'noairborne',
  'aquatic',
  'predator',
  'toothed',
  'backbone',
  'breathes',
  'novenomous',
  'fins',
  'nolegs',
  'tail',
  'nodomestic',
  'catsize'],
 ['hair',
  'nofeathers',
  'noeggs',
  'milk',
  'noairborne',
  'aquatic',
  'predator',
  'toothed',
  'backbone',
  'breathes',
  'novenomous',
  'fins',
  '2legs',
  'tail',
  'nodomestic',
  'catsize'],
 ['nohair',
  'nofeathers',
  'noeggs',
  'nomilk',
  'noairborne',
  'aquatic',
  'predator',
  'toothed',
  'backbone',
  'nobreathes',
  'venomous',
  'nofins',
  'nolegs',
  'tail',
  'nodomestic',
  'nocatsize'],
 ['nohair',
  'nofeathers',
  'eggs',
  'nomilk',
  'noairborne',
  'aquatic',
  'predator',
  'notoothed',
  'nobackbone',
  'nobreathes',
  'venomous',
  'nofins',
  'nolegs',
  'tail',
  'nodomestic',
  'nocatsize'],
 ['nohair',
  'feathers',
  'eggs',
  'nomilk',
  'airborne',
  'aquatic',
  'predator',
  'notoothed',
  'backbone',
  'breathes',
  'novenomous',
  'nofins',
  '2legs',
  'tail',
  'nodomestic',
  'nocatsize'],
 ['nohair',
  'feathers',
  'eggs',
  'nomilk',
  'airborne',
  'aquatic',
  'predator',
  'notoothed',
  'backbone',
  'breathes',
  'novenomous',
  'nofins',
  '2legs',
  'tail',
  'nodomestic',
  'nocatsize'],
 ['nohair',
  'nofeathers',
  'eggs',
  'nomilk',
  'noairborne',
  'noaquatic',
  'predator',
  'toothed',
  'backbone',
  'breathes',
  'novenomous',
  'nofins',
  'nolegs',
  'tail',
  'nodomestic',
  'nocatsize'],
 ['nohair',
  'nofeathers',
  'eggs',
  'nomilk',
  'noairborne',
  'noaquatic',
  'nopredator',
  'notoothed',
  'nobackbone',
  'breathes',
  'novenomous',
  'nofins',
  'nolegs',
  'tail',
  'nodomestic',
  'nocatsize'],
 ['nohair',
  'nofeathers',
  'eggs',
  'nomilk',
  'noairborne',
  'aquatic',
  'nopredator',
  'toothed',
  'backbone',
  'nobreathes',
  'novenomous',
  'fins',
  'nolegs',
  'tail',
  'nodomestic',
  'nocatsize'],
 ['nohair',
  'feathers',
  'eggs',
  'nomilk',
  'airborne',
  'noaquatic',
  'nopredator',
  'notoothed',
  'backbone',
  'breathes',
  'novenomous',
  'nofins',
  '2legs',
  'tail',
  'nodomestic',
  'nocatsize'],
 ['hair',
  'nofeathers',
  'noeggs',
  'milk',
  'noairborne',
  'noaquatic',
  'nopredator',
  'toothed',
  'backbone',
  'breathes',
  'novenomous',
  'nofins',
  '2legs',
  'tail',
  'nodomestic',
  'nocatsize'],
 ['nohair',
  'nofeathers',
  'eggs',
  'nomilk',
  'noairborne',
  'aquatic',
  'predator',
  'notoothed',
  'nobackbone',
  'nobreathes',
  'novenomous',
  'nofins',
  '4legs',
  'tail',
  'nodomestic',
  'nocatsize'],
 ['nohair',
  'nofeathers',
  'eggs',
  'nomilk',
  'noairborne',
  'aquatic',
  'predator',
  'toothed',
  'backbone',
  'nobreathes',
  'venomous',
  'fins',
  'nolegs',
  'tail',
  'nodomestic',
  'catsize'],
 ['nohair',
  'feathers',
  'eggs',
  'nomilk',
  'airborne',
  'aquatic',
  'nopredator',
  'notoothed',
  'backbone',
  'breathes',
  'novenomous',
  'nofins',
  '2legs',
  'tail',
  'nodomestic',
  'catsize'],
 ['nohair',
  'nofeathers',
  'eggs',
  'nomilk',
  'noairborne',
  'noaquatic',
  'nopredator',
  'notoothed',
  'nobackbone',
  'breathes',
  'novenomous',
  'nofins',
  '6legs',
  'tail',
  'nodomestic',
  'nocatsize'],
 ['nohair',
  'nofeathers',
  'eggs',
  'nomilk',
  'noairborne',
  'aquatic',
  'nopredator',
  'toothed',
  'backbone',
  'breathes',
  'novenomous',
  'nofins',
  '4legs',
  'tail',
  'nodomestic',
  'nocatsize'],
 ['nohair',
  'nofeathers',
  'eggs',
  'nomilk',
  'noairborne',
  'noaquatic',
  'nopredator',
  'notoothed',
  'backbone',
  'breathes',
  'novenomous',
  'nofins',
  '4legs',
  'tail',
  'nodomestic',
  'catsize'],
 ['nohair',
  'nofeathers',
  'eggs',
  'nomilk',
  'noairborne',
  'noaquatic',
  'predator',
  'toothed',
  'backbone',
  'breathes',
  'novenomous',
  'nofins',
  '4legs',
  'tail',
  'nodomestic',
  'nocatsize'],
 ['nohair',
  'nofeathers',
  'eggs',
  'nomilk',
  'noairborne',
  'aquatic',
  'predator',
  'toothed',
  'backbone',
  'nobreathes',
  'novenomous',
  'fins',

In [99]:
asso = list(apriori(transacs,min_support = 0.8, min_confidence = 0.7))
asso

[RelationRecord(items=frozenset({'backbone'}), support=0.8217821782178217, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'backbone'}), confidence=0.8217821782178217, lift=1.0)]),
 RelationRecord(items=frozenset({'nodomestic'}), support=0.8712871287128713, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'nodomestic'}), confidence=0.8712871287128713, lift=1.0)]),
 RelationRecord(items=frozenset({'nofeathers'}), support=0.801980198019802, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'nofeathers'}), confidence=0.801980198019802, lift=1.0)]),
 RelationRecord(items=frozenset({'nofins'}), support=0.8316831683168316, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'nofins'}), confidence=0.8316831683168316, lift=1.0)]),
 RelationRecord(items=frozenset({'novenomous'}), support=0.9207920792079208, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'novenomous'}), confidence=0.9207920792079208, lift=1.0)]),
 RelationRecord(items=frozenset({'tail'}), support=1.0, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'tail'}), confidence=1.0, lift=1.0)]),
 RelationRecord(items=frozenset({'backbone', 'tail'}), support=0.8217821782178217, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'backbone', 'tail'}), confidence=0.8217821782178217, lift=1.0), OrderedStatistic(items_base=frozenset({'backbone'}), items_add=frozenset({'tail'}), confidence=1.0, lift=1.0), OrderedStatistic(items_base=frozenset({'tail'}), items_add=frozenset({'backbone'}), confidence=0.8217821782178217, lift=1.0)]),
 RelationRecord(items=frozenset({'nodomestic', 'novenomous'}), support=0.801980198019802, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'nodomestic', 'novenomous'}), confidence=0.801980198019802, lift=1.0), OrderedStatistic(items_base=frozenset({'nodomestic'}), items_add=frozenset({'novenomous'}), confidence=0.9204545454545455, lift=0.999633431085044), OrderedStatistic(items_base=frozenset({'novenomous'}), items_add=frozenset({'nodomestic'}), confidence=0.8709677419354839, lift=0.999633431085044)]),
 RelationRecord(items=frozenset({'nodomestic', 'tail'}), support=0.8712871287128713, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'nodomestic', 'tail'}), confidence=0.8712871287128713, lift=1.0), OrderedStatistic(items_base=frozenset({'nodomestic'}), items_add=frozenset({'tail'}), confidence=1.0, lift=1.0), OrderedStatistic(items_base=frozenset({'tail'}), items_add=frozenset({'nodomestic'}), confidence=0.8712871287128713, lift=1.0)]),
 RelationRecord(items=frozenset({'tail', 'nofeathers'}), support=0.801980198019802, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'nofeathers', 'tail'}), confidence=0.801980198019802, lift=1.0), OrderedStatistic(items_base=frozenset({'nofeathers'}), items_add=frozenset({'tail'}), confidence=1.0, lift=1.0), OrderedStatistic(items_base=frozenset({'tail'}), items_add=frozenset({'nofeathers'}), confidence=0.801980198019802, lift=1.0)]),
 RelationRecord(items=frozenset({'tail', 'nofins'}), support=0.8316831683168316, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'tail', 'nofins'}), confidence=0.8316831683168316, lift=1.0), OrderedStatistic(items_base=frozenset({'nofins'}), items_add=frozenset({'tail'}), confidence=1.0, lift=1.0), OrderedStatistic(items_base=frozenset({'tail'}), items_add=frozenset({'nofins'}), confidence=0.8316831683168316, lift=1.0)]),
 RelationRecord(items=frozenset({'tail', 'novenomous'}), support=0.9207920792079208, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'tail', 'novenomous'}), confidence=0.9207920792079208, lift=1.0), OrderedStatistic(items_base=frozenset({'novenomous'}), items_add=frozenset({'tail'}), confidence=1.0, lift=1.0), OrderedStatistic(items_base=frozenset({'tail'}), items_add=frozenset({'novenomous'}), confidence=0.9207920792079208, lift=1.0)]),
 RelationRecord(items=frozenset({'nodomestic', 'tail', 'novenomous'}), support=0.801980198019802, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'nodomestic', 'tail', 'novenomous'}), confidence=0.801980198019802, lift=1.0), OrderedStatistic(items_base=frozenset({'nodomestic'}), items_add=frozenset({'tail', 'novenomous'}), confidence=0.9204545454545455, lift=0.999633431085044), OrderedStatistic(items_base=frozenset({'novenomous'}), items_add=frozenset({'nodomestic', 'tail'}), confidence=0.8709677419354839, lift=0.999633431085044), OrderedStatistic(items_base=frozenset({'tail'}), items_add=frozenset({'nodomestic', 'novenomous'}), confidence=0.801980198019802, lift=1.0), OrderedStatistic(items_base=frozenset({'nodomestic', 'novenomous'}), items_add=frozenset({'tail'}), confidence=1.0, lift=1.0), OrderedStatistic(items_base=frozenset({'nodomestic', 'tail'}), items_add=frozenset({'novenomous'}), confidence=0.9204545454545455, lift=0.999633431085044), OrderedStatistic(items_base=frozenset({'tail', 'novenomous'}), items_add=frozenset({'nodomestic'}), confidence=0.8709677419354839, lift=0.999633431085044)])]